doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./styles.css")
        <script src="https://kit.fontawesome.com/59485d1319.js" crossorigin="anonymous"></script>
        title Document
    body
        header 
            .head 
                h1 Hello
                p Learning Jadd/Sass
        nav 
            ul
                li 
                    a(href="") HTML
                li 
                    a(href="") CSS
            
                li 
                    a(href="") JAVA
                li 
                    a(href="") PYTHON
            img(src="/assets/images/coding.jpg", alt="")
        section 
            .slider 
        .highlight
            .info 
                .img 
                   <i class="fab fa-edge"></i>
                h2 about Html
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam minus, sint exercitationem nemo ratione repellendus animi eligendi fuga facere, iure, sit fugiat! Assumenda explicabo error quidem praesentium velit eum hic! Exercitationem perspiciatis facilis suscipit quaerat voluptatem, nam non debitis odit atque alias ut ducimus molestias a quod illum. Commodi, expedita?
            .info 
                .img-1 
                 <i class="fab fa-firefox-browser fa-left"></i>
                h2 About Css
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam minus, sint exercitationem nemo ratione repellendus animi eligendi fuga facere, iure, sit fugiat! Assumenda explicabo error quidem praesentium velit eum hic! Exercitationem perspiciatis facilis suscipit quaerat voluptatem, nam non debitis odit atque alias ut ducimus molestias a quod illum. Commodi, expedita?
            .info 
                .img-2
                    <i class="fab fa-firefox"></i>
                h2 About Python
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam minus, sint exercitationem nemo ratione repellendus animi eligendi fuga facere, iure, sit fugiat! Assumenda explicabo error quidem praesentium velit eum hic! Exercitationem perspiciatis facilis suscipit quaerat voluptatem, nam non debitis odit atque alias ut ducimus molestias a quod illum. Commodi, expedita?
            .info 
                .img-3
                 <i class="fab fa-edge-legacy fa-left"></i>
                h2 About Linux
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam minus, sint exercitationem nemo ratione repellendus animi eligendi fuga facere, iure, sit fugiat! Assumenda explicabo error quidem praesentium velit eum hic! Exercitationem perspiciatis facilis suscipit quaerat voluptatem, nam non debitis odit atque alias ut ducimus molestias a quod illum. Commodi, expedita?
