doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./styles.css")
        <script src="https://kit.fontawesome.com/59485d1319.js" crossorigin="anonymous"></script>
        title Document
    body
        header 
            .head 
                h1 Hello
                p Learning Jadd/Sass
        nav 
            ul
                li 
                    a(href="") HTML
                li 
                    a(href="") CSS
            
                li 
                    a(href="") JAVA
                li 
                    a(href="") PYTHON
            img(src="/assets/images/coding.jpg", alt="")
        section 
            .slider 
        .highlight
            .info 
                .img 
                   <i class="fab fa-edge"></i>
                h2 about Html
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam minus, sint exercitationem nemo ratione repellendus animi eligendi fuga facere, iure, sit fugiat! Assumenda explicabo error quidem praesentium velit eum hic! Exercitationem perspiciatis facilis suscipit quaerat voluptatem, nam non debitis odit atque alias ut ducimus molestias a quod illum. Commodi, expedita?
            .info 
                .img-1 
                 <i class="fab fa-firefox-browser fa-left"></i>
                h2 About Css
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam minus, sint exercitationem nemo ratione repellendus animi eligendi fuga facere, iure, sit fugiat! Assumenda explicabo error quidem praesentium velit eum hic! Exercitationem perspiciatis facilis suscipit quaerat voluptatem, nam non debitis odit atque alias ut ducimus molestias a quod illum. Commodi, expedita?
            .info 
                .img-2
                    <i class="fab fa-firefox"></i>
                h2 About Python
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam minus, sint exercitationem nemo ratione repellendus animi eligendi fuga facere, iure, sit fugiat! Assumenda explicabo error quidem praesentium velit eum hic! Exercitationem perspiciatis facilis suscipit quaerat voluptatem, nam non debitis odit atque alias ut ducimus molestias a quod illum. Commodi, expedita?
            .info 
                .img-3
                 <i class="fab fa-edge-legacy fa-left"></i>
                h2 About Linux
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam minus, sint exercitationem nemo ratione repellendus animi eligendi fuga facere, iure, sit fugiat! Assumenda explicabo error quidem praesentium velit eum hic! Exercitationem perspiciatis facilis suscipit quaerat voluptatem, nam non debitis odit atque alias ut ducimus molestias a quod illum. Commodi, expedita?
        .slider 
            
        .abt-language 
            h2 What These Language Can Get You
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero tempora ducimus ab similique hic porro iure eos iusto, repellat minus alias optio tenetur asperiores animi iste enim aspernatur exercitationem, atque numquam dolor quisquam ad veritatis sunt necessitatibus. Ratione natus, animi cupiditate aliquam nobis vero, sint consequatur debitis minus praesentium beatae!
        .symbol
            <i class="fas fa-tools first"></i>    
            <i class="fas fa-magnet second"></i>
            <i class="fas fa-laptop-code third"></i>
            <i class="fas fa-mobile-alt fourth"></i>
        .services 
            .service
                img(src="/assets/images/coding.jpg", class="service-img" alt="")
                h1 HTML/CSS
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta reiciendis quae est laboriosam dolorem magnam. Ex sunt dignissimos aliquid non. Consequuntur voluptatibus neque voluptatem tempora.
            .service 
                img(src="/assets/images/code1.jpg", class="service-img" alt="")
                h1 Python
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta reiciendis quae est laboriosam dolorem magnam. Ex sunt dignissimos aliquid non. Consequuntur voluptatibus neque voluptatem tempora.
            .service 
                img(src="/assets/images/code.jpg", class="service-img" alt="")
                h1 JADE/SASS
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta reiciendis quae est laboriosam dolorem magnam. Ex sunt dignissimos aliquid non. Consequuntur voluptatibus neque voluptatem tempora.
            .service 
                img(src="/assets/images/linux.jpg", class="service-img" alt="")
                h1 Linux
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta reiciendis quae est laboriosam dolorem magnam. Ex sunt dignissimos aliquid non. Consequuntur voluptatibus neque voluptatem tempora.
        footer 
            .div33 
                h2 About Us
                p.opacity Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam incidunt illo corrupti reiciendis vel sunt illum? Aliquid eum rem sint error odit nobis. Nihil aperiam ipsam amet consequatur rem sed esse minima atque nisi dolorum incidunt similique impedit libero eos placeat, praesentium temporibus facilis! Fugit possimus ea quis quisquam, cupiditate omnis mollitia beatae hic similique illo! Pariatur vitae odio molestiae omnis vero nobis atque, vel id, magni dolor consequuntur facere tenetur, aspernatur sapiente culpa quo corrupti iste. Assumenda, maiores! Vitae corporis, voluptate perferendis at accusantium delectus odio et tenetur excepturi, veritatis perspiciatis ex repellat quam quod sequi minima possimus. Nisi?
            .div33 
                h2 Links 
                ul 
                    li.first
                        a(href="") HTML
                    li 
                        a(href="") CSS
                    li 
                        a(href="") Python
                    li 
                        a(href="") JADE
                    li 
                        a(href="") Linux 
            .div33
                h2 Contact Us
                input(type="text" placeholder="Yours Name" class="first-input same") 
                input(type="text" placeholder="Yours Email" class="same") 
                p Yours Query
                textarea(name="Query", placeholder="Write Yours Concern" cols="30", rows="10" class="same") 
                br
                button Submit
        .bottom 
            p
                All Rights Are Reserved Copyright &copy; 2020-21
            .top-up
                a(href="#" title="Click Here To Go To") <i class="fas fa-arrow-up"></i>  