*
    margin: 0
    padding: 0  
    font-family: sans-serif

.header
    background-color: aqua
    text-align: center
    padding: 10px 0px


.header h1 
    text-decoration: underline
    text-underline-offset: 5px
    margin: 10px 0px

.header p
    opacity: 0.6


.time
    background-color: black
    color: white
    text-align: center
    padding: 10px 0px
    letter-spacing: 4px

.time h2 
    margin: 7px 0px
    
.container
    padding: 20px 0px
    background-color: aqua
    text-align: center


nav
    background-color: black
    color: white


nav .img-container
    // background-color: aqua
    display: flex
    width: 1000px
    margin: auto
   
ul
    display: flex
    width: 1000px
    margin: auto
    padding: 20px 0px

ul li 
    list-style-type: none
    padding: 5px 15px
    border: 2px solid white
    margin: 0px 5px
    border-radius: 9px
    transition: all 300ms ease
    cursor: pointer

ul li:hover 
    background-color: white
    color: black
    border: 2px solid red
    
.img
    height: 100px
    width: 100px
    border-radius: 100%
    border: 2px solid white

.boxes
    // background-color: aqua
    display: flex
    width: 900px
    margin: auto


.boxes .box
    margin: 5px
    padding: 10px
    text-align: center
    // height: 500px
    // width: 300px
    background-color: black
    color: white
    border-bottom-left-radius: 55px
    border-top-right-radius: 55px

.boxes .box p 
    opacity: 0.6
    padding: 10px 0px
    
.boxes .box .img
    margin-top: 5px
    

.info 
    // background-color: aqua
    // height: 500px
.info form
    width: 500px
    margin: 20px auto
    display: flex
    flex-direction: column

.info form input
    box-shadow: 0px 0px 12px -6px
    padding: 10px 5px
    margin: 12px 0px
    border-radius: 9px
    border: 2px solid white

.info form .btn
    box-shadow: 0px 0px 15px -9px
    width: 100px
    border: 2px solid white
    margin: auto
    background-color: white
    cursor: pointer
    padding: 10px 5px
    font-weight: bold
    border-radius: 12px

.style 
    border: 2px solid black
    text-align: center
    height: 500px

.style #btn
    width: 150px
    margin: 10px 0px
    padding: 10px 0px
    font-weight: bold
    border: 2px solid black