*
    margin: 0px
    padding: 0px
    box-sizing: border-box
    font-family: sans-serif

section
    position: relative
    display: flex
    justify-content: center
    align-items: center
    padding: 80px 100px
    color: white
    .container
        display: flex
        position: relative
        justify-content: center
        align-items: center
        flex-direction: column
        .main-tittle
            font-size: 4em
            margin-bottom: 50px
        .content
            position: relative
            width: 1150px
            display: flex
            justify-content: center
            align-items: center
            .img
                position: relative
                width: 800px
                height: 400px
                overflow: hidden
