*
    margin: 0px
    padding: 0px
    box-sizing: border-box
    font-family: sans-serif

section
    position: relative
    display: flex
    justify-content: center
    align-items: center
    padding: 80px 100px
    color: white
    .container
        display: flex
        position: relative
        justify-content: center
        align-items: center
        flex-direction: column
        .main-tittle
            font-size: 4em
            margin-bottom: 50px
        .content
            position: relative
            width: 1150px
            display: flex
            justify-content: center
            align-items: center
            .img
                position: relative
                width: 800px
                height: 400px
                overflow: hidden
                img
                    z-index: 1
                    position: absolute
                    top: 0px
                    left: 0px
                    width: 100%
                    height: 100%
                    object-fit: cover // CHECK
                    border-radius: 10px
            .text-box
                font-size: 1.1em
                z-index: 2
                background: rgba(255, 255, 255, 0.1) 
                backdrop-filter: blur(20px) // CHECK
                padding: 40px
                height: 320px
                display: flex
                justify-content: center
                align-items: center
                max-width: 400px
                border: 1px solid rgba(255, 255, 255, 0.1)
                border-radius: 10px
                transform: translate(-80px, 50px) // ONCE WE CREATED A (PSD TO HTML) IN WHICH WE MAKE SOMETHING JUST LIKE THERE WE MADE A DIV OVER IMG SO THIS TRANSLATE METHOD IS BETTER THAN TO USE POSITION RELATIVE ETC