*
    margin: 0px
    padding: 0px
    box-sizing: border-box
    font-family: sans-serif

section
    position: relative
    display: flex
    justify-content: center
    align-items: center
    padding: 80px 100px
    color: white
    .container
        display: flex
        position: relative
        justify-content: center
        align-items: center
        flex-direction: column
        .main-tittle
            font-size: 4em
            margin-bottom: 50px
            height: 100vh
            display: flex
            justify-content: center
            align-items: center
        .content
            position: relative
            width: 1150px
            display: flex
            justify-content: center
            align-items: center
            .img
                position: relative
                width: 800px
                height: 400px
                overflow: hidden
                &.revealB
                    opacity: 0
                    transform: translateY(100px)
                    position: relative
                    transition: all 2000ms ease
                &.active
                    opacity: 1
                    transform: translateY(0px)
                img
                    z-index: 1
                    position: absolute
                    top: 0px
                    left: 0px
                    width: 100%
                    height: 100%
                    object-fit: cover // CHECK
                    border-radius: 10px
            .text-box
                font-size: 1.1em
                z-index: 2
                background: rgba(255, 255, 255, 0.1) 
                backdrop-filter: blur(20px) // CHECK
                padding: 40px
                height: 320px
                display: flex
                justify-content: center
                align-items: center
                flex-direction: column
                max-width: 400px
                border: 1px solid rgba(255, 255, 255, 0.1)
                border-radius: 10px
                transform: translate(-80px, 50px) // ONCE WE CREATED A (PSD TO HTML) IN WHICH WE MAKE SOMETHING JUST LIKE THERE WE MADE A DIV OVER IMG SO THIS TRANSLATE METHOD IS BETTER THAN TO USE POSITION RELATIVE ETC
                h3
                    font-size: 2em
                    margin-right: 30px
                    margin-bottom: 10px
        .media-icons
            margin-top: 100px
            a
                color: white
                font-size: 2em
                margin: 60px
                text-decoration: none
        
.sec-2
    .container
        .second-tittle
            font-size: 3em
            margin-bottom: 80px
            position: relative
            &.revealR
                opacity: 0
                transform: translateX(100px)
                position: relative
                transition: all 2000ms ease
            &.active
                opacity: 1
                transform: translateX(0px)
        .content
            .info
                width: 500px
                margin-left: 50px
                .info-tittle
                    font-size: 1.8em
                    margin-bottom: 10px


.sec-3
    .container
        .section-tittle
            margin-bottom: 100px
            font-size: 3em
            &.revealR
                opacity: 0
                position: relative
                transform: translateX(100px)
                transition: all 2000ms ease
            &.active
                opacity: 1
                transform: translateX(0px)
        .content
            .media-info
                width: 400px
                margin-left: 50px
                li
                    list-style: none
                    font-size: 1.4em
                    a
                        color: white
                        text-decoration: none
                li:not(:last-child)
                    margin-bottom: 50px
                li:nth-child(1), li:nth-child(5)
                    padding-left: 100px
                li:nth-child(2), li:nth-child(4)
                    padding-left: 50px
            .img
                &.revealB
                    opacity: 0
                    transform: translateY(100px)
                    position: relative
                    transition: all 2000ms ease
                &.active
                    opacity: 1
                    transform: translateY(0px)