*
    margin: 0px
    padding: 0px
    box-sizing: border-box
    font-family: sans-serif

header
    background-color: black
    color: white
    text-align: center
    line-height: 40px // WILL GAVE SPACES BETWEEN LINES

.menu-bar
    background-color: aqua
    text-align: center

.menu-bar ul
    display: inline-flex // MAKE SURE TO REPLACE THIS ONE WITH DISPLAY FLEX TO CHECK WHAT WILL HAPPEN
    list-style: none
    color: black

.menu-bar ul li
    width: 120px // THIS WILL PROVIDE A MARGIN OR JUSTIFY CONTENT TYPE
    margin: 15px
    padding: 15px
    width: 150px
    cursor: pointer

.menu-bar ul li a
    text-decoration: none
    color: white

.menu-bar ul li:hover 
    background-color: black
    color: white

.sub-menu-1
    display: none
    color: white

.menu-bar ul li:hover .sub-menu-1
    display: block
    position: absolute
    background-color: aqua
    margin-top: 15px
    margin-left: -15px

.menu-bar ul li:hover .sub-menu-1 ul
    display: block // THIS WILL PROVIDE THE COLUMN-DIRECTION TO OURS DROP-DOWN MENU
    margin: 10px

.menu-bar ul li:hover .sub-menu-1 ul li
    width: 150px
    padding: 10px
    border-bottom: 1px solid black 
    text-align: left

.menu-bar ul li:hover .sub-menu-1 ul li:last-child
    border-bottom: none


.fa-angle-right
    float: right

.sub-menu-2
    display: none

.hover:hover .sub-menu-2
    position: absolute
    display: block
    margin-top: -40px
    margin-left: 165px
    background-color: aqua