*
    margin: 0px
    padding: 0px
    box-sizing: border-box
    font-family: sans-serif

header
    background-color: black
    color: white
    text-align: center
    line-height: 40px // WILL GAVE SPACES BETWEEN LINES

.menu-bar
    background-color: aqua
    text-align: center

.menu-bar ul
    display: inline-flex // MAKE SURE TO REPLACE THIS ONE WITH DISPLAY FLEX TO CHECK WHAT WILL HAPPEN
    list-style: none
    color: white