doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        script(src="https://kit.fontawesome.com/59485d1319.js" crossorigin="anonymous")
        link(rel="stylesheet", href="style.css")
    body 
        nav 
            label(for="btn-1" class="btn") Drop-Down
                span.fa.fa-caret-down
            input(type="checkbox" id="btn-1")
            ul.menu 
                li 
                    a(href="#") Home
                li 
                    a(href="#") Menu
                li.branches
                    a(href="#") Branches
                    label(for="btn-2" class="btn-1")
                        span.fa.fa-caret-down
                    input(type="checkbox" id="btn-2")
                    ul
                        li 
                            a(href="#") Sub-branches 
                        li 
                            a(href="#") Sub-branches 
                        li 
                            a(href="#") Sub-branches 
                li 
                    a(href="#") Contact
                li
                    a(href="#") Feedback
            label(for="btn-3" class="btn") Drop-Down
                span.fa.fa-caret-down
            input(type="checkbox" id="btn-3")
            ul.menu-1.position
                li 
                    a(href="#") Code
                li.branches
                    a(href="#") Java
                    label(for="btn-4" class="btn")
                        span.fa.fa-caret-down
                    input(type="checkbox" id="btn-4")
                    ul 
                        li 
                            a(href="#") Sub-Branches
                        li 
                            a(href="#") Sub-Branches
                        li 
                            a(href="#") Sub-Branches
                li 
                    a(href="#") Css
                li.branches
                    a(href="#") jade
                    label(for="btn-5" class="btn")
                        span.fa.fa-caret-down
                    input(type="checkbox" id="btn-5")
                    ul 
                        li 
                            a(href="#") Sub-Branches 
                        li 
                            a(href="#") Sub-Branches 
                        li 
                            a(href="#") Sub-Branches 
                li 
                    a(href="#") Sass
            label(for="btn-6" class="btn") Drop-Down
                span.fa.fa-caret-down
            input(type="checkbox" id="btn-6")
            ul.menu-1.position
                li 
                    a(href="#") Code
                li.branches
                    a(href="#") Java
                    label(for="btn-7" class="btn")
                        span.fa.fa-caret-down
                    input(type="checkbox" id="btn-7")
                    ul 
                        li 
                            a(href="#") Sub-Branches
                        li 
                            a(href="#") Sub-Branches
                        li 
                            a(href="#") Sub-Branches
                li 
                    a(href="#") Css
                li.branches
                    a(href="#") jade
                    label(for="btn-8" class="btn")
                        span.fa.fa-caret-down
                    input(type="checkbox" id="btn-8")
                    ul 
                        li 
                            a(href="#") Sub-Branches 
                        li 
                            a(href="#") Sub-Branches 
                        li 
                            a(href="#") Sub-Branches 
                li 
                    a(href="#") Sass
            label(for="btn-9" class="btn") Drop-Down
                span.fa.fa-caret-down
            input(type="checkbox" id="btn-9")
            ul.menu-1.position
                li 
                    a(href="#") Code
                li.branches
                    a(href="#") Java
                    label(for="btn-10" class="btn")
                        span.fa.fa-caret-down
                    input(type="checkbox" id="btn-10")
                    ul 
                        li 
                            a(href="#") Sub-Branches
                        li 
                            a(href="#") Sub-Branches
                        li 
                            a(href="#") Sub-Branches
                li 
                    a(href="#") Css
                li.branches
                    a(href="#") jade
                    label(for="btn-11" class="btn")
                        span.fa.fa-caret-down
                    input(type="checkbox" id="btn-11")
                    ul 
                        li 
                            a(href="#") Sub-Branches 
                        li 
                            a(href="#") Sub-Branches 
                        li 
                            a(href="#") Sub-Branches 
                li 
                    a(href="#") Sass
            label(for="btn-3" class="btn") Drop-Down
                span.fa.fa-caret-down
            input(type="checkbox" id="btn-3")
            ul.menu-1.position
                li 
                    a(href="#") Code
                li.branches
                    a(href="#") Java
                    label(for="btn-4" class="btn")
                        span.fa.fa-caret-down
                    input(type="checkbox" id="btn-4")
                    ul 
                        li 
                            a(href="#") Sub-Branches
                        li 
                            a(href="#") Sub-Branches
                        li 
                            a(href="#") Sub-Branches
                li 
                    a(href="#") Css
                li.branches
                    a(href="#") jade
                    label(for="btn-5" class="btn")
                        span.fa.fa-caret-down
                    input(type="checkbox" id="btn-5")
                    ul 
                        li 
                            a(href="#") Sub-Branches 
                        li 
                            a(href="#") Sub-Branches 
                        li 
                            a(href="#") Sub-Branches 
                li 
                    a(href="#") Sass