doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        script(src="https://kit.fontawesome.com/59485d1319.js" crossorigin="anonymous")
        link(rel="stylesheet", href="style.css")
    body 
        nav 
            label(for="btn-1" class="btn") Drop-Down
                span.fa.fa-caret-down
            input(type="checkbox" id="btn-1")
            ul.menu 
                li 
                    a(href="#") Home
                li 
                    a(href="#") Menu
                li.branches
                    a(href="#") Branches
                    label(for="btn-2" class="btn-1")
                        span.fa.fa-caret-down
                    input(type="checkbox" id="btn-2")
                    ul
                        li 
                            a(href="#") Sub-branches 
                        li 
                            a(href="#") Sub-branches 
                        li 
                            a(href="#") Sub-branches 
                li 
                    a(href="#") Contact
                li 
                    a(href="#") Feedback
            label(for="btn-3" class="btn") Drop-Down
                span.fa.fa-caret-down
            input(type="checkbox" id="btn-3")
            ul 
                li 
                    a(href="#") Code
                li 
                    a(href="#") Java
                li 
                    a(href="#") Css
                li 
                    a(href="#") jade
                li 
                    a(href="#") Sass