.main-items {
  width: 1300px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 500px;
}

.main-items .item {
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  padding-bottom: 16px;
  width: 33%;
}

.main-items p {
  margin-bottom: 14px;
}

.main-items .item .display {
  width: 390px;
  height: 390px;
  border-radius: 15px;
  margin-bottom: 12px;
}

.main-items .item .button {
  background: black;
  color: white;
  margin-top: 5px;
  text-decoration: none;
  padding: 7px 12px;
  border-radius: 9px;
  border: 3px solid gray;
  transition: all 600ms ease;
}
.main-items .button:hover {
  background-color: aqua;
  color: black;
}
