.sec-right-below {
  width: 700px;
  margin: auto;
  margin-top: 20px;
}

.sec-right-below .item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  text-align: center;
  padding-bottom: 16px;
}

.sec-right-below .item .display {
  width: 100%;
  height: 340px;
  border-radius: 15px;
  margin-bottom: 12px;
}

.sec-right-below .item .button {
  margin: auto;
  background: black;
  color: white;
  margin-top: 8px;
  text-decoration: none;
  padding: 7px 12px;
  border-radius: 9px;
  transition: all 600ms ease;
}

.sec-right-below .item .button:hover {
  background-color: aqua;
  color: black;
}
