@media only screen and (max-width: 1165px) {
  .nav-list {
    flex-direction: column;
  }
  .nav-bar .right-nav {
    width: 30%;
  }
  .nav-bar {
    flex-direction: column;
    transition: all 600ms ease;
    height: 450px;
  }
  .nav-bar .right-nav {
    text-align: center;
  }
  .nav-bar .right-nav .search {
    width: 75%;
  }
  .nav-bar .right-nav .btn-change {
    margin-top: 11px;
    margin-left: 17px;
  }

  .nav-bar .burger {
    display: block;
  }

  .h-nav-resp {
    height: 70px;
  }
  .v-resp {
    opacity: 0;
  }
  section .main-box {
    max-width: 100%;
    flex-direction: column-reverse;
    text-align: center;
  }

  .sec-right {
    flex-direction: column-reverse;
    width: 80%;
  }
  .sec-left {
    flex-direction: column-reverse;
    width: 80%;
  }
  .sec-right .paras {
    padding: 0px;
    text-align: center;
    margin: 25px 0px;
  }
  .sec-left .paras {
    padding: 0px;
    text-align: center;
    margin: 25px 0px;
  }
  .contact .form {
    max-width: 330px;
    margin: auto;
  }
  .sec-right-below {
    max-width: 100%;
    flex-direction: column-reverse;
    text-align: center;
    margin: 20px 0px;
  }

  .sec-right-below .item {
    margin: 20px 0px;
  }
  .sec-right-below .item .display {
    width: 75%;
  }

  .main-items {
    margin: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    overflow: auto;
    width: 200px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
  }

  .main-items .item {
    width: 33%;
    display: inline;
  }
}

@media only screen and (max-width: 376px) {
  .nav-bar .right-nav {
    width: 30%;
  }
  .first-section {
    height: 115vh;
  }
  .nav-bar .right-nav .search {
    width: 112px;
  }
}

.burger {
  display: none;
  position: absolute;
  cursor: pointer;
  top: 15px;
  right: 5%;
}
.line {
  width: 33px;
  background-color: white;
  margin: 5px 3px;
  border-radius: 6px;
  height: 4px;
}
