@media only screen and (max-width: 1165px) {
  .nav-list {
    flex-direction: column;
  }
  .nav-bar {
    flex-direction: column;
    transition: all 600ms ease;
    height: 450px;
  }
  .nav-bar .right-nav {
    text-align: center;
  }
  .nav-bar .right-nav .search {
    width: 100%;
  }
  .nav-bar .right-nav .btn-change {
    margin-top: 11px;
    margin-left: 17px;
  }
  .burger {
    display: none;
  }
  .h-nav-resp {
    height: 70px;
  }
  .v-resp {
    opacity: 0;
  }
  section .main-box {
    max-width: 100%;
    flex-direction: column-reverse;
    text-align: center;
  }

  .sec-right {
    flex-direction: column-reverse;
    width: 80%;
  }
  .sec-left {
    flex-direction: column-reverse;
    width: 80%;
  }
  .sec-right .paras {
    padding: 0px;
    text-align: center;
    margin: 25px 0px;
  }
  .sec-left .paras {
    padding: 0px;
    text-align: center;
    margin: 25px 0px;
  }
  .contact .form {
    max-width: 330px;
    margin: auto;
  }
  .sec-right-below {
    max-width: 100%;
    flex-direction: column-reverse;
    text-align: center;
    margin: 20px 0px;
  }

  .sec-right-below .item {
    margin: 20px 0px;
  }
  .sec-right-below .item .display {
    width: 75%;
  }
}

.burger {
  display: block;
  position: absolute;
  cursor: pointer;
  top: 15px;
  right: 5%;
}
.line {
  width: 33px;
  background-color: white;
  margin: 5px 3px;
  border-radius: 6px;
  height: 4px;
}
