/* .bg {
  background: url(/assets/images/hik-3.jpg);
  background-size: cover;
} */
.sec-right {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 1200px;
}

.img-fluid {
  height: 350px;
  width: 350px;
  border: 5px solid black;
  padding: 2px;
  border-radius: 25px;
  margin: 25px 0px;
}

.sec-right .text-big {
  font-size: 25px;
  margin: 13px 0px;
}
.sec-right .text-small {
  font-size: 15px;
}

.sec-right .paras {
  margin-right: 35px;
  padding: 0px 45px;
}

.sec-left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
  flex-direction: row-reverse;
  width: 1200px;
}

.sec-left .paras {
  margin-left: 35px;
  padding: 0px 45px;
}

.sec-left .text-big {
  font-size: 25px;
  margin: 13px 0px;
}
.sec-left .text-small {
  font-size: 15px;
}

.bg {
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: darken;
}
