doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        title Scroll-Behaviour
    body 
        header 
            h1 This Is Header
        #skills-section
            h1.revealT Skills 
            .container
                p.revealL HTML
                .progress.revealL
                    .progress-bar(data-progress="90")
                        span 90%
                p.revealL CSS
                .progress.revealL
                    .progress-bar(data-progress="90")
                        span 90%
                p.revealL Jade/Pugg
                .progress.revealL
                    .progress-bar(data-progress="90")
                        span 90%
                p.revealL Sass
                .progress.revealL
                    .progress-bar(data-progress="90")
                        span 90%
                p.revealL JavaScript
                .progress.revealL
                    .progress-bar(data-progress="30")
                        span 30%
                p.revealL GitHub
                .progress.revealL
                    .progress-bar(data-progress="90")
                        span 90%
    script(src="/script/js.js") 