doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Complete JS
        link(rel="stylesheet", href="./style.css")
    body 
        div.header
            h1 Welcome, To JS
            p Learing/Practicing JS From Begining
        .time 
            h2 The Date When This Web Is Made
            span#day
            h2 Currently, The Time In Pakistan is
            span#time
        #js
        #form
        #alert
        #main-container
        #js-nav
            .containerr
            .selector
        #time-function
        .buttons
            a(href="https://www.google.com" class="btnnn" target="_blanck") Click Here 
            button(onclick="openWindow()" class="btnnn") Open Window
            button(onclick="closeWindow()" class="btnnn") close Window
            button(onclick="scrollWindow()" class="btnnn") Scroll Window
            button(onclick="resizeTo()" class="btnnn") Resize To
            button(onclick="resizeBy()" class="btnnn") Resize By
        #scroll 
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore labore veritatis libero asperiores dicta reiciendis qui totam nemo dolorem in? Officia nostrum alias eius cupiditate voluptas eos accusamus ex. Id ratione maxime facere nisi sapiente minus fuga veniam, aliquam assumenda dolorem modi, error aspernatur optio! Distinctio consectetur deserunt repellat in vitae reiciendis voluptate praesentium quidem iure mollitia eius nihil enim similique commodi, ullam soluta asperiores nostrum a sunt harum ex quam corporis ab veritatis. Dolor nam odit aliquid possimus, doloribus exercitationem ut aliquam itaque quia dicta accusantium voluptates nemo provident adipisci ea consectetur animi earum magnam quasi nobis modi voluptatibus quod. Eum natus possimus, officia explicabo cum dolores amet quas dolor enim ipsa quasi cumque illum maiores modi dignissimos molestiae dolorum nam quia ad, consequatur aperiam exercitationem. Maxime, facilis molestias. Vitae error eaque earum dicta cupiditate et omnis soluta voluptatem sint voluptates explicabo fuga perferendis, iusto nisi. Dignissimos unde sapiente nulla eveniet labore doloremque dolorem! Doloribus impedit itaque temporibus facilis deserunt? Adipisci natus, ipsum quos cumque quo ad asperiores quod! Iure reiciendis iusto sit. Cupiditate in incidunt dignissimos pariatur, reiciendis provident officia magnam eveniet minima optio rerum accusantium eaque nam nesciunt iusto. At et nemo eaque corrupti quam obcaecati ratione quidem labore tempore tenetur assumenda omnis commodi facere suscipit consectetur delectus incidunt laborum deserunt cumque exercitationem velit iste praesentium, possimus dignissimos? Odio ut vero enim tempora quidem dolorem sapiente nesciunt sequi saepe excepturi velit, necessitatibus, minima tempore, officiis itaque ratione aspernatur voluptates consequuntur facere corporis incidunt error. Recusandae suscipit earum consequatur tempore molestiae, est soluta voluptatem a nesciunt libero! Ducimus, sed. Exercitationem pariatur, laboriosam molestiae provident, repellendus necessitatibus labore iste nesciunt temporibus inventore magni neque reiciendis eligendi optio libero error, nulla illum eaque accusantium officia corporis asperiores perferendis vero! Esse velit doloribus corporis praesentium. Beatae facere facilis dolorem eaque iste velit unde voluptatem incidunt tempora maiores impedit sit voluptates aliquam, veritatis quis quo, sequi est ut culpa. Inventore maiores eaque corporis quidem nostrum recusandae. Unde deserunt doloremque odio, voluptatibus alias quos optio magnam atque id assumenda consectetur modi non doloribus ut asperiores cum ullam magni voluptates officia cupiditate nobis quis, voluptatum mollitia odit! Voluptatum quidem, quasi, non soluta quas animi quibusdam cum harum labore pariatur optio omnis excepturi molestias id? Officiis sapiente et repudiandae ipsum nobis velit maxime praesentium mollitia quia obcaecati sint officia, natus esse non id iusto facere aperiam voluptatibus illo itaque iure labore! Magni delectus placeat hic itaque, illo, dolor quos nemo eaque nihil vero, illum aliquid ducimus. Sed ex, corrupti asperiores perspiciatis aspernatur, alias laboriosam totam dolorum eos voluptate assumenda laudantium maiores voluptas perferendis voluptatibus illo, atque distinctio repellat odit eaque aliquid ducimus quasi consectetur. Minus tempore quam amet. Quas, sapiente porro atque ab culpa quo aliquam, velit odio ullam omnis nulla tempore tenetur dolorem numquam distinctio officiis reprehenderit quasi cupiditate libero autem delectus earum modi. Harum autem optio ipsum ea numquam? Exercitationem laudantium eos fugit. Inventore ex mollitia asperiores recusandae iusto aperiam at soluta exercitationem omnis, voluptatum similique consectetur, fugit quibusdam quaerat nobis repudiandae reprehenderit.
            button(onclick="scrollWindows()" class="scroll-btn left") Scroll To
            button(onclick="scrollWindow()" class="scroll-btn right") Scroll By
        button(onclick="newfunction()") Click To Go To Google
        button(onclick="ARR()") Click
    script(src="/javascript/JavaScript.js") 