doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Complete JS
        link(rel="stylesheet", href="./style.css")
    body 
        div.header
            h1 Welcome, To JS
            p Learing/Practicing JS From Begining
        .time 
            h2 The Date When This Web Is Made
            span#day
            h2 Currently, The Time In Pakistan is
            span#time
        #js
        #form
        #alert
        #main-container
        #js-nav
            .containerr
            .selector
        #time-function
        .buttons
            a(href="https://www.google.com" class="btnnn" target="_blanck") Click Here 
            button(onclick="openWindow()" class="btnnn") Open Window
            button(onclick="closeWindow()" class="btnnn") close Window
            button(onclick="scrollWindow()" class="btnnn") Scroll Window
            button(onclick="resizeTo()" class="btnnn") Resize To
            button(onclick="resizeBy()" class="btnnn") Resize By
    script(src="/javascript/JavaScript.js") 