doctype html
head
  title Animated-Login-Page
  script(src='https://kit.fontawesome.com/a81368914c.js')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' type='text/css' href='style.css')
img.wave(src='../assets/wave.png')
.container
  .img
    img(src='../assets/bg.svg')
  .login-content
    form(action='index.html')
      img(src='../assets/avatar.svg')
      h2.title Welcome
      .input-div.one
        .i
          i.fas.fa-user
        .div
          h5 Username
          input.input(type='text')
      .input-div.pass
        .i
          i.fas.fa-lock
        .div
          h5 Password
          input.input(type='password')
      a(href='#') Forgot Password?
      input.btn(type='submit' value='Login')
script(type='text/javascript' src='../script/js.js')
