*
    margin: 0px
    padding: 0px
    box-sizing: border-box
    font-family: sans-serif

header
    background-color: black
    color: white
    text-align: center
    line-height: 40px // WILL GAVE SPACES BETWEEN LINES