.container {
  background-image: url(../assets/hik.jpg);
  padding-top: 100px;
  background-size: cover;
  padding: 250px 150px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container .description {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container .heading {
  font-size: 45px;
}

.container .shop {
  text-decoration: none;
  background-color: black;
  color: white;
  border-radius: 9px;
  padding: 1px 9px;
  transition: all 300ms ease;
}

.container .shop:hover {
  background-color: white;
  color: black;
}
