.header .nav {
  overflow: auto;
  padding: 8px 16px;
  background: brown;
}

.header .nav .logo {
  float: left;
  font-size: 25px;
  margin: 10px 166px;
}

.header .nav .logo .main-logo {
  text-decoration: none;
  color: white;
  border-radius: 10px;
  background: black;
  padding: 2px 20px;
  transition: all 500ms ease;
}
.header .nav .logo .main-logo:hover {
  background: white;
  color: black;
}

.header .nav .links {
  float: right;
}

.header .nav .links .link {
  float: left;
  margin: 5px 17px;
  padding: 10px;
  cursor: pointer;
  border-radius: 15px;
  transition: all 500ms ease;
  background: rgba(0, 0, 0, 0.2);
}

.header .nav .links .link:hover {
  background: white;
  color: black;
}
