.statement {
  background: url(../assets/hik-3.jpg);
  background-size: cover;
  padding-top: 160px;
  padding-right: 190px;
  height: 870px;
  text-align: right;
  font-family: sans-serif;
}

.statement .under {
  font-weight: bold;
}

.statement .under-button {
  text-decoration: none;
  transition: all 700ms ease;
  background: black;
  color: white;
  padding: 5px 25px;
  border-radius: 9px;
  font-size: 20px;
}

.statement .under-button:hover {
  background-color: white;
  color: black;
  border-bottom-right-radius: 65px;
  border-top-left-radius: 65px;
}

.statement .under-head {
  font-size: 45px;
}

.statement .under-para {
  font-size: 22px;
}
