doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="https://kit.fontawesome.com/59485d1319.js" crossorigin="anonymous")
        link(rel="stylesheet", href="style.css")
        title Animated-Drop-Down
    body 
        nav 
            .drop-btn Drop-Down
                span.fas.fa-caret-down
            .wrapper 
                ul.menu-bar 
                    li 
                        a(href="#")  
                            .icon 
                                span.fas.fa-home
                            |Home
                    li.setting-item
                        a(href="#")
                            i.fas.fa-angle-right
                            .icon 
                                span.fas.fa-cog
                            |Settings & Privacy 
                    li.help-item
                        a(href="#")
                            i.fas.fa-angle-right
                            .icon 
                                span.fas.fa-question-circle
                            |Help & Support
                    li 
                        a(href="#")
                            .icon 
                                span.fas.fa-user
                            |About-Us
                    li 
                        a(href="#")
                            .icon 
                                span.fas.fa-comment-alt
                            |Feedback
                ul.setting-drop
                    li.arrow.back-setting-btn
                        span.fas.fa-arrow-left
                        |Settings & Privacy
                    li 
                        a(href="#")  
                            .icon 
                                span.fas.fa-user
                            |Personal Info
                    li 
                        a(href="#")
                            .icon 
                                span.fas.fa-lock
                            |password 
                    li 
                        a(href="#")
                            .icon 
                                span.fas.fa-address-book
                            |Activity Log
                    li 
                        a(href="#")
                            .icon 
                                span.fas.fa-globe-asia
                            |Languages
                    li 
                        a(href="#")
                            .icon 
                                span.fas.fa-sign-out-alt
                            |Log Out
                ul.help-drop
                    li.arrow.back-help-btn
                        span.fas.fa-arrow-left
                        |Help & Support
                    li 
                        a(href="#")  
                            .icon 
                                span.fas.fa-question-circle
                            |Help Center
                    li 
                        a(href="#")
                            .icon 
                                span.fas.fa-envelope
                            |Support
                    li 
                        a(href="#")
                            .icon 
                                span.fas.fa-comment-alt
                            |Send Feedback
                    li 
                        a(href="#")
                            .icon 
                                span.fas.fa-exclamation-circle
                            |Report Problem
    script(src="../script/js.js") 