.bottom-grid {
  display: flex;
  height: 623px;
  width: 100%;
  background-color: black;
}

.left-img {
  height: 614px;
  width: 100%;
  border: 2px solid white;
  margin: 5px 0px;
}

.bottom-img {
  float: right;
  width: 100%;
  margin: 5px 0px;
  border: 2px solid white;
  height: 300px;
}

.ext-left {
  width: 40%;
}

.ext-right {
  margin-left: 15px;
  width: 60%;
}
