.bottom-nav {
  background-color: black;
  color: white;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-nav .text {
  margin: auto;
}

.bottom-nav .icons {
  margin: auto;
}
.fab {
  margin: 0px 5px;
  transition: all 900ms ease;
  padding: 10px;
  font-size: 30px;
}

.fab:hover {
  background-color: white;
  border-radius: 100%;
}

.fa-facebook-f {
  padding: 9px 15px;
}

.fa-instagram {
  padding: 9px 12px;
}

.fa-whatsapp {
  padding: 9px 11px;
}
