.highlight {
  height: 900px;
  margin-top: 40px;
  background-color: black;
  overflow: auto;
}
.highlight:hover {
  display: flex;
  /* color: white; */
  text-align: center;
  justify-content: center;
}

.highlight .img {
  float: left;
  position: relative;

  width: 200px;
  height: 200px;
  left: 50%;
}

.highlight .text {
  opacity: 0;
  text-align: center;
  float: left;
  visibility: none;
  transition: all 400ms ease;
}

.highlight:hover .img {
  animation-play-state: running;
  float: left;
  /* margin-left: -100px; */
  animation-duration: 4s;
  animation-name: highlight-image;
}

.highlight:hover .text {
  float: left;
  margin-top: 90px;
  /* visibility: visible; */
  opacity: 1;
  color: white;
}

@keyframes highlight-image {
  0% {
    left: 50%;
  }
  60% {
    left: 50%;
    margin-left: -100px;
    transform: rotate(360deg);
  }
  100% {
    left: 0px;
    margin-left: 0px;
    transform: rotate(360deg);
    visibility: visible;
  }
}
