.highlight {
  height: 900px;
  margin-top: 40px;
  background-color: black;
  overflow: auto;
}

.highlight .img {
  float: left;
  position: relative;

  width: 200px;
  height: 200px;

  left: 50%;
  margin-left: -100px;
  animation-duration: 4s;

  animation-play-state: paused;
  animation-name: highlight-image;
}

.highlight .text {
  opacity: 0;
  float: left;
  visibility: none;
  transition: all 400ms ease 4s;
}

.highlight:hover .img {
  animation-play-state: running;
}

.highlight:hover .text {
  float: left;
  visibility: visible;
  opacity: 1;
  color: white;
}

@keyframes highlight-image {
  0% {
    left: 50%;
    margin-left: -100px;
    transform: rotate(0deg);
  }
  60% {
    left: 50%;
    margin-left: -100px;
    transform: rotate(360deg);
  }
  100% {
    left: 0px;
    margin-left: 0px;
    transform: rotate(360deg);
  }
}
