*
    margin: 0px
    padding: 0px
    box-sizing: border-box
    font-family: sans-serif

nav
    max-width: 100%
    width: 1200px
    margin: auto
    background-color: black
    ul
        list-style: none
        display: flex
        justify-content: space-between
        padding: 20px
        li
            font-size: 20px
            width: 200px
            text-align: center
            ul
                display: flex
                flex-direction: column
                position: absolute
                transform: translateX(-20px)
                background-color: black
                list-style: none
                margin-top: 30px
                li 
                    margin: 10px 0px
                    padding: 10px