*
    margin: 0px
    padding: 0px
    font-family: sans-serif
    text-decoration: none
    list-style: none
    box-sizing: border-box

.wrapper 
    width: 100%
    height: 100%
    .navbar
        width: 100%
        height: 60px
        background-color: aqua
        > ul // WE'VE TO MAKE IT LIKE THIS OTHERWISE THE DROP-DOWN WONT WORK
            display: flex
            justify-content: center
            li
                position: relative
                a
                    color: #000
                    display: block // NOTHING WILL WORKS UNTIL WE USES DISPLAY BLOCK
                    width: 180px
                    height: 60px
                    text-align: center
                    padding: 20px 10px
                    letter-spacing: 2px
                    text-transform: uppercase
                    transition: all 200ms ease
                    .icon
                        width: 25px
                        display: inline-block // MAKE SURE TO GAVE IT OTHER WISE THE CODE WON'T WORKS FOR THIS ELEMENT
                .dd_menu
                    position: absolute
                    left: 0px
                    top: 80px
                    display: none
                    ul
                        li
                            a
                                width: 180px
                                text-align: left
                                padding: 20px 18px
                            a:hover, a.active
                                background-color: black
                    &::before
                        content: ""
                        position: absolute
                        top: 0px
                        left: 50%
                        transform: translateX(-50deg)
                        z-index: 1
                        border: 15px solid
                        border-color: transparent transparent aqua transparent // MEANS BORDER WILL BE AVAILABLE ONLY FROM THE BOTTOM SIDE WITH AQUA AND FROM THE REST OF THE OTHER SIDES WHICH ARE TOP, RIGHT AND LEFT IT'LL BE TRANSPARENT REMEMEBR OURS BORDER IS OF 15PX
                a:hover, a.active
                    background-color: black
                > a
                    margin-right: 1px
            li:last-child
                > a
                    margin-right: 0px

                        