*
    margin: 0px
    padding: 0px
    box-sizing: border-box
    font-family: sans-serif

nav
    max-width: 100%
    width: 1200px
    margin: auto
    background-color: black
    ul
        list-style: none
        display: flex
        justify-content: space-between