*
    margin: 0px
    padding: 0px
    font-family: sans-serif
    box-sizing: border-box

.wave
    position: fixed
    height: 100%
    left: 0px // WE SPECIFICALLY USED LEFT BECAUSE WE WANTED IT TO BE ON THE LEFT SIDE
    bottom: 0px