*
    margin: 0px
    padding: 0px
    font-family: sans-serif
    box-sizing: border-box

.wave
    position: fixed
    height: 100%
    left: 0px // WE SPECIFICALLY USED LEFT BECAUSE WE WANTED IT TO BE ON THE LEFT SIDE
    bottom: 0px
    // z-index: -1

.container
    width: 100vw
    height: 100vh
    // display: grid
    // grid-template-columns: repeat(2, 1fr) // SO THE (AVATAR) IMG AND (BACKGROUND-IMG) WILL CAME FACE TO FACE 
    // display: flex // MAKE TO CHECK WHETER FLEX WILL WORK OR NOT