*
    margin: 0px
    padding: 0px
    font-family: sans-serif
    box-sizing: border-box

.wave
    position: fixed
    height: 100%
    left: 0px // WE SPECIFICALLY USED LEFT BECAUSE WE WANTED IT TO BE ON THE LEFT SIDE
    bottom: 0px
    // z-index: -1

.container
    width: 100vw
    height: 100vh
    display: grid
    grid-template-columns: repeat(2, 1fr) // SO THE (AVATAR) IMG AND (BACKGROUND-IMG) WILL CAME FACE TO FACE 
    grid-gap: 7rem
    padding: 0px 2rem
    // display: flex // MAKE TO CHECK WHETER FLEX WILL WORK OR NOT FOR THIS METHOD
    .img
        display: flex // FOR THE POSITIONG OF ALL THE IMAGES FACE TO FACE
        .bg
            width: 500px // SO THE BACKGROUND-IMG WILL BE SHRINKED AND THE USER'S IMG WILL BE ON THE CENTER OF OURS WEB-PAGE

