.events
    border: 3px solid black
    padding: 25px 0px

.events #btn
    background-color: red
    font-weight: bolder
    padding: 15px 25px
    cursor: pointer
    font-size: 17px
    border-radius: 15px
    border: 2px solid black

.timing p
    background-color: black
    color: white
    text-align: center
    padding: 20px 0px
    cursor: pointer
    font-family: sans-serif
    border: 3px solid red

.timing h1
    text-align: center

ul
    display: flex