*
    margin: 0px
    padding: 0px
    box-sizing: border-box
    font-family: -webkit-pictograph

.container
    width: 100%
    height: 840px
    margin: 10px auto
    position: relative
    padding: 5px 0px

.container .text
    padding: 10px
    text-align: center


.container .text h1
    font-size: 50px 

.container .text p
    widows: 60%
    padding: 5px
    margin: auto
    line-height: 30px // WILL GAVE THE GAPE B/W THE LINES WHOMS ARE PARALLEL

.container header
    width: 98% // SO WE CAN HAVE SOME GAPE B/W START & END
    height: 60px
    margin: 0px auto
    align-items: center
    display: flex
    padding: 20px
    justify-content: space-between
    border: 2px solid black

.container p span
    font-size: 40px
    margin: 0px 5px
    cursor: pointer
    color: black
    width: 30px
    height: 30px
    display: inline-block
    line-height: 19px 