*
    margin: 0px
    padding: 0px
    box-sizing: border-box
    font-family: -webkit-pictograph

.container
    width: 100%
    height: 840px
    margin: 10px auto
    position: relative
    padding: 5px 0px

.container .text
    padding: 10px
    text-align: center


.container .text h1
    font-size: 50px 

.container .text p
    widows: 60%
    padding: 5px
    margin: auto
    line-height: 30px // WILL GAVE THE GAPE B/W THE LINES WHOMS ARE PARALLEL

.container header
    width: 98% // SO WE CAN HAVE SOME GAPE B/W START & END
    height: 60px
    margin: 0px auto
    align-items: center
    display: flex
    padding: 20px
    justify-content: space-between
    border-bottom: 2px solid black

.container p span
    font-size: 40px
    margin: 0px 5px
    cursor: pointer
    color: black
    width: 30px
    height: 30px
    display: inline-block
    line-height: 19px
    text-align: center
    border-radius: 100%
    transition: all 200ms ease

.container p span:hover
    background-color: aqua

.container section
    width: 98%
    height: 600px
    margin: auto
    display: flex
    align-items: center
    overflow-x: auto // THIS WILL GIVE US SCROLL BAR AT X-LEVEL OR HORIZONTALY

.container section::-webkit-scrollbar
    display: none

.container section .product
    min-width: 24%
    height: 90%
    background-color: whitesmoke
    margin: 0px 20px 0px 0px
    border-radius: 20px
    position: relative
    left: 0px
    transition: 1000ms // WHEN WE MOVE THE SLIDER BY BTN THIS TRANSITION WILL WORKS AS THE TIME REQUIRED TO COMPLETE THE SLIDER TO BE MOVED

.container section .product picture
    width: 100%
    height: 70%
    padding: 20px
    display: flex
    overflow: hidden
    margin-bottom: 20px

.container section .product picture img
    width: 100%

.container section .product .details, .button
    width: 90%
    margin: auto
    padding: 5px
    display: flex
    justify-content: space-between
    align-items: center
    height: 50px
    font-size: 20px
.container section .product .details
    margin-left: 40px


.container section .product .button
    margin-top: 10px

.container section .product .button a
    text-decoration: none
    padding: 6px 14px
    font-size: 15px
    margin: 5px 0px 0px 20px
    display: inline-block
    background-color: aqua
    color: black

.container section .product .button .star
    margin: 5px auto
    font-size: 25px
    width: 65%
    cursor: pointer

@media only screen and (max-width: 1025px)
    .container .text h1
        font-size: 35px

    .container .text p
        width: 90%

    .container header h1
        font-size: 25px

    .container header p span
        font-size: 30px
        
    .container section .product
        min-width: 49%
        margin: 0px 10px 0px 0px

    .container section .product .details, .button
        font-size: 16px

    .container section .product .button a
        padding: 6px 10px


.highlight
    height: 100vh
    width: 100%
    background-color: black
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap  // WRAP ACTUALLY TELLS WHETER IF THERE IS ENOUGH SPACE FOR A CONTENT TO BE IN A LINE IF THERE IS NOT ANY FURTHER OR MUCH NEEDED SPACE SO THE ELEMENT WILL AUTOMATICALLY SHIFTS INTO THE OTHER LINE

.highlight .netflix-logo .logo
    height: 100% // 100% HEIGHT WILL WORKS ABSOLUETLY FINE WHEN WE USED 100VH AND OF BODY HEIGHT 
    // width: 800px

.highlight .netflix-logo
    height: 15vw
    width: 100%
    text-align: center

.highlight .carousel
    height: 250px
    width: 80%
    position: relative


.highlight .carousel .switch-left, .switch-right
    color: white
    font-weight: bold
    height: 100%
    width: 45px
    line-height: 250px
    font-size: 25px
    text-align: center
    background-color: lightgreen
    font-family: sans-serif
    top: 0px
    z-index: 3


//  IMP FUNCTION
.highlight .carousel .switch-left
    position: absolute  // WE USES ABSOLUTE POSTION AND THEN GAVE IT -50PX SO IT CAE OUT OF CAROUSEL SLIDER AND TOOKS THE HEIGHT ADN WIDTH WE GAVE
    left: -50px

.highlight .carousel .switch-right
    position: absolute
    right: -50px

.highlight .carousel .carousel-box
    height: 250px
    width: auto 
    overflow: scroll
    white-space: nowrap
    display: inline-block
    text-align: center
    padding: 10px !important
    display: flex
    align-items: center

.highlight .carousel .carousel-box img
    min-width: 147px
