doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title JavsScript
        link(rel="stylesheet", href="style.css")
    body   
        .header 
            h1 This Web-Page Was Created On The 
            #date

        .slider
            .slide 
                h1 New-York City
                p The City Of Lights,
                p The City That Never Sleeps.
            .slide 
                h1 Linux
                p The Software That Runs But
                p Can 
            .slide 
                h1 New-York City
                p The City Of Lights,
                p The City That Never Sleeps.
            .slide 
                h1 New-York City
                p The City Of Lights,
                p The City That Never Sleeps.
            .slide
                h1 New-York City
                p The City Of Lights,
                p The City That Never Sleeps.
            .slide
                h1 New-York City
                p The City Of Lights,
                p The City That Never Sleeps.
script(src="/script/carousel.js") 