doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title JavsScript
        link(rel="stylesheet", href="style.css")
    body   
        .header 
            h1 This Web-Page Was Created On The 
            #date
            h1 And Today Is 
            #live
        .slider
            .slide 
                .text
                    h1 New-York City
                    p The City Of Lights,
                    p The City That Never Sleeps.
            .slide.right
                .text
                    h1 Linux
                    p The Software That Runs Fast But
                    p Can Make Other Runs Slow.
            .slide.down
                .text
                    h1.linux-head.head Linux
                    p.linux Fastest Operating System
                    p.linux But Use It Carefully.
            .slide.left
                .text
                    h1.same-m.mountains.head Mountains
                    p.same-m Best Place For Hiking,
                    p.same-m But Make Sure You Follow The Precautions.
            .slide
                .text
                    h1 K-2
                    p Highest Mountain,
                    p And Most Dangerous As Well.
            .slide.right
                .text
                    h1.head.macbook Macbook Pro
                    p.macbook Best Ever Apple Macbook,
                    p.macbook And Best For Coding As Well.



    //- .carousel
    //-     .repeat
    //-         h1 Heading 
    //-         p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis vitae et aut assumenda eum accusantium iure, nulla ipsum inventore itaque.
    //-     .repeat
    //-         h1 Heading 
    //-         p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis vitae et aut assumenda eum accusantium iure, nulla ipsum inventore itaque.
    //-     .repeat
    //-         h1 Heading 
    //-         p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis vitae et aut assumenda eum accusantium iure, nulla ipsum inventore itaque.
    //-     .repeat
    //-         h1 Heading 
    //-         p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis vitae et aut assumenda eum accusantium iure, nulla ipsum inventore itaque.
    //-     .repeat
    //-         h1 Heading 
    //-         p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis vitae et aut assumenda eum accusantium iure, nulla ipsum inventore itaque.
    //-     .repeat
    //-         h1 Heading 
    //-         p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis vitae et aut assumenda eum accusantium iure, nulla ipsum inventore itaque.
    //-     .repeat
    //-         h1 Heading 
    //-         p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis vitae et aut assumenda eum accusantium iure, nulla ipsum inventore itaque.
    //-     .repeat
    //-         h1 Heading 
    //-         p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis vitae et aut assumenda eum accusantium iure, nulla ipsum inventore itaque.
    //-     .repeat
    //-         h1 Heading 
    //-         p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis vitae et aut assumenda eum accusantium iure, nulla ipsum inventore itaque.
    //-     .repeat
    //-         h1 Heading 
    //-         p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis vitae et aut assumenda eum accusantium iure, nulla ipsum inventore itaque. 
script(src="/script/carousel.js") 