* 
    margin: 0px
    padding: 0px

.main
    background-image: url(/assets/sky.jpg)
    height: 100vh
    background-size: 100% 100%
    background-repeat: none
    position: relative
    overflow-x: hidden

.main .road
    background-image: url(/assets/road.jpg)
    height: 200px
    width: 500%
    position: absolute
    background-size: cover
    bottom: 0px
    z-index: 1
    display: block
    left: 0px
    right: 0px
    background-repeat: repeat-x
    // animation: road 5s linear infinite
    animation-name: road
    animation-duration: 6s
    animation-timing-function: linear
    animation-iteration-count: infinite

@keyframes road
    100%
        transform: translateX(-3400px)
    


.main .city 
    background-image: url(/assets/build.png)
    height: 700px
    width: 250%
    margin: auto
    background-size: 100% 100%
    position: absolute
    bottom: 10px
    left: 0px
    right: 0px
    display: block
    z-index: 3
    animation-name: build
    animation-duration: 17s
    animation-timing-function: linear
    animation-iteration-count: infinite

@keyframes build
    100%
        transform: translateX(-1400px)



.car
    width: 400px
    left: 50%
    bottom: 100px
    transform: translateX(-50%)
    position: absolute
    z-index: 6

.car img
    width: 100%
    animation: car 1s linear infinite


@keyframes car 

    100%
        transform: translateY(-1px)
    50%
        transform: translateY(1px)
    0%
        transform: translateY(-1px)


.wheel
    // margin: auto
    width: 100%
    // z-index: 10
    // background-color: black



.wheel img
    z-index: 9
    widows: 75px
    height: 75px
    animation-name: wheel
    animation-duration: 1s
    animation-timing-function: linear
    animation-iteration-count: infinite

@keyframes wheel 
    100%
        transform: rotate(360deg)

.wheel .front-wheel
    left: 847px
    position: absolute
    bottom: 100px
    
.wheel .back-wheel
    bottom: 100px
    left: 600px
    position: absolute