*
    margin: 0px
    padding: 0px
    height: 2000px

.ball
    height: 100px
    width: 100px
    background-color: chocolate
    border-radius: 100%
    position: fixed
    // top: 0px // IT IS NOT COMPULSORY TO GAVE IT AS WE ALREADY PROVIDING IT IN JAVASCRIPT
    // right: 0px

.ball-1
    height: 100px
    width: 100px
    background-color: chocolate
    border-radius: 100%
    position: fixed
    // bottom: 0px
    // right: 0px

.ball-2
    position: fixed
    height: 100px
    width: 100px
    border-radius: 100%
    background-color: red 