doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Dorp-Down-Menu
        script(src="https://kit.fontawesome.com/59485d1319.js" crossorigin="anonymous")
        link(rel="stylesheet", href="style.css")
    body 
        header 
            ul 
                li 
                    i.fas.fa-home
                    a(href="#") Home  
                li 
                    i.fas.fa-home
                    a(href="#") About  
                li 
                    i.fas.fa-home
                    a(href="#") Contact 
                li 
                    i.fas.fa-home
                    a(href="#") Branches
                    i.fas.fa-angle-down
                    .sub-menu
                        ul 
                            li
                                a(href="#") Sub-Branches 
                            li.hover
                                a(href="#") Sub-Branches 
                                i.fas.fa-angle-right
                                .sub-menu-1
                                    ul 
                                        li
                                            a(href="#") Sub-Branches-1
                                        li
                                            a(href="#") Sub-Branches-2
                                        li
                                            a(href="#") Sub-Branches-3
                            li
                                a(href="#") Sub-Branches 
                li 
                    i.fas.fa-home
                    a(href="#") Feedback

        nav 
            label(for="btn-1" class="btn") Drop-Down
                span.fas.fa-caret-down
            input(type="checkbox" id="btn-1") 
            //- THIS INPUT ELEMENT WILL BE USED AFTER EVERY LABEL AND USED THE SAME NAME FOR (FOR) FUNCTION IN LABEL AS WE USD FOR THE (ID) NAME OF INPUT
            ul.menu 
                li
                    a(href="#") Home
                li 
                    label(for="btn-2" class="first") Features
                        span.fas.fa-caret-down
                    input(type="checkbox" id="btn-2")
                    ul 
                        li 
                            a(href="#") Pages
                li  
                    label(for="btn-3" class="second") Services
                        span.fas.fa-caret-down
                    input(type="checkbox" id="btn-3")
                    ul 
                        li 
                            a(href="#") Design 
                        li 
                            a(href="#") App-Design
                li  
                    a(href="#") New-design  
                li
                    a(href="#") Old-design  
            label(for="btn-4" class="btn") Drop-Down
                span.fas.fa-caret-down
            input(type="checkbox" id="btn-4")
            ul.menu-1.position
                li
                    a(href="#") Home
                li 
                    label(for="btn-5" class="first") Features
                        span.fas.fa-caret-down
                    input(type="checkbox" id="btn-5")
                    ul 
                        li 
                            a(href="#") Pages
                li
                    label(for="btn-6" class="second") Services
                        span.fas.fa-caret-down
                    input(type="checkbox" id="btn-6")
                    ul 
                        li 
                            a(href="#") Design 
                        li 
                            a(href="#") App-Design
                li  
                    a(href="#") New-design  
                li
                    a(href="#") Old-design
            label(for="btn-7" class="btn") Drop-Down
                span.fas.fa-caret-down
            input(type="checkbox" id="btn-7")
            ul.menu-2.position-1
                li
                    a(href="#") Home
                li 
                    label(for="btn-8" class="first") Features
                        span.fas.fa-caret-down
                    input(type="checkbox" id="btn-8")
                    ul 
                        li 
                            a(href="#") Pages
                li
                    label(for="btn-9" class="second") Services
                        span.fas.fa-caret-down
                    input(type="checkbox" id="btn-9")
                    ul 
                        li 
                            a(href="#") Design 
                        li 
                            a(href="#") App-Design
                li  
                    a(href="#") New-design  
                li
                    a(href="#") Old-design
    .slider 
        .slide 1
        .slide 2
        .slide 3
        .slide 4
        .slide 5
            