doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Dorp-Down-Menu
        script(src="https://kit.fontawesome.com/59485d1319.js" crossorigin="anonymous")
        link(rel="stylesheet", href="style.css")
    body 
        header 
            ul 
                li 
                    i.fas.fa-home
                    a(href="#") Home  
                li 
                    i.fas.fa-home
                    a(href="#") About  
                li 
                    i.fas.fa-home
                    a(href="#") Contact 
                li 
                    i.fas.fa-home
                    a(href="#") Branches
                    .sub-menu
                        ul 
                            li
                                a(href="#") Sub-Branches 
                            li
                                a(href="#") Sub-Branches 
                            li
                                a(href="#") Sub-Branches 
                li 
                    i.fas.fa-home
                    a(href="#") Feedback