html,
body {
  margin: 0;
  padding: 0;
}

.header {
  background-color: black;
  color: white;
  height: 80px;
  position: fixed;
  z-index: 1;
  width: 100%;
  max-width: 100%;
  top: 0;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header .banner {
  padding: 20px 0px;
  text-align: center;
}

.header .banner .button {
  color: white;
  text-decoration: none;
}

.header .banner .announcement {
  text-decoration: none;
  background: brown;
  border-radius: 10px;
  color: white;
  padding: 0px 20px;
  margin: 5px;
  transition: all 400ms ease;
}

.header .banner .announcement:hover {
  color: black;
  background: white;
}
