body
    margin: 0px
    padding: 0px
    height: 100vh
    display: flex
    justify-content: center
    align-items: center
    background-color: aqua

.img
    height: 1080px
    width: 1080px

.slider
    width: 800px
    height: 500px
    border-radius: 15px
.slider .slides 
    height: 500px
    width: 500%
    display: flex