doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Live Web Page
        link(rel="stylesheet", href="/build/style.css")
    body 
         div.main
            .road
            .car
                img(src="/assets/car.png", alt="Car Image")
            .wheel
                    img(src="/assets/wheel.png", alt="front-Wheel-Img" class="front-wheel")
                    img(src="/assets/wheel.png", alt="front-Wheel-Img" class="back-wheel")
            .city