doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        title Maths
    body 
        //- .ball 
        //- .ball-1 
        //- .ball-2
        //- .ball-3  
        //- .ball-4
        //- .ball-5
        .ball-6

    script(src="/script/js.js") 
    script(src="/script/ball-1.js")
    script(src="/script/ball-2.js")
    script(src="/script/center.js")
    script(src="/script/corners.js")
    script(src="/script/half.js")
    script(src="/script/all.js")
