*
    margin: 0px
    padding: 0px
    box-sizing: border-box
    font-family: consolas


body
    display: flex
    justify-content: center
    align-items: center
    min-height: 100vh
    background-color: black

.loader // THIS IS FOR MAKING A BLINKER 
    position: relative
    &::before
        content: ''
        position: absolute
        top: 0px
        right: 0px
        width: 2px
        height: 100%
        background-color: aqua
        // animation-name: blink
        // animation-duration: 800ms
        animation: blink 800ms steps(3) infinite
    h2
        position: relative
        color: aqua
        letter-spacing: 5px
        font-size: 4em
        text-transform: uppercase
        animation: typing 800ms steps(8) infinite
        // BASICALLY IN STEPS WE ACTUALLY WRITE THE THE TOTAL NUMBERS OF STRINGS (WORDS) SO WE'VE TOTAL OF 8 STRINGS INCLUDING 3DOTS

@keyframes blink 
    0%,75%
        opacity: 1
    76%,100%
        opacity: 0
