*
    margin: 0px
    padding: 0px
    box-sizing: border-box
    font-family: consolas


body
    display: flex
    justify-content: center
    align-items: center
    min-height: 100vh
    background-color: black

.loader
    position: relative
    &::before
        content: ''
        position: absolute
        top: 0px
        right: 0px