*
    margin: 0px
    padding: 0px
    box-sizing: border-box
    font-family: sans-serif

header
    height: 100vh
    background-image: url(/images/background.jpg)
    background-size: 100% 100%

.same
    height: 500px
    text-align: center
    padding-top: 220px

#character
    .char
        position: fixed
        top: 25%
        z-index: 1
        left: -145px
        transform: rotate(0deg)
        img
            width: 150px
        &.hello
            left: -60px
            transform: rotate(13deg)
        &.hope
            transform: rotate(0deg)
            left: 6px
        &.looking
            left: 25px
    .desc
        background-color: chocolate
        padding: 15px 20px
        border-radius: 7px
        position: fixed
        width: 250px
        left: -260px
        opacity: 0
        z-index: 1
        cursor: pointer
        text-align: center
        top: calc( 25% + 220px )
        box-shadow: 0px 0px 21px -5px black
        &.hello
            opacity: 1
            left: 0px
        &.hope
            opacity: 1
            left: 0px
        &.looking
            opacity: 1
            left: 0px
