doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Practice JavaScript complete
        link(rel="stylesheet", href="/build/styles.css")
    body   
    #heading
    #date
    #js
    #nav 
    #animation
    .container
    .slider-1
        each _, i in Array(6) 
            .slide-1= i

    // CRAOUSEL BY JS
    .slider
       .slide 0
       .slide 1
       .slide 2
       .slide 3
       .slide 4
       .slide 5
        //- each _, i in Array(6)
        //-     .slide= i    
    script(src="/javascript/js.js")     
    script(src="/javascript/carousel.js") 