*
    margin: 0px
    padding: 0px
    background-color: black
    font-family: sans-serif

.container
    height: 100vh
    width: 100%
    background-color: aqua
    .hamburger-menu
        height: 30px
        width: 35px
        background-color: red
        position: fixed
        top: 50px
        right: 50px
        cursor: pointer
        .line