*
    margin: 0px
    padding: 0px
    font-family: sans-serif

.container
    height: 100vh
    width: 100%
    background-color: black
    .nav-bar
        background-color: aqua
        width: 300px
        height: 100%
        position: fixed // FIXED SO IT'LL JUST APPEAR IN THE CONTAINER
        top: 0px
        right: 0px
        display: flex
        justify-content: center
        align-items: center
        border-radius: 20% 0 0 60% // JUST LIKE MARGIN, PADDING SCENARIO BUT IN BORDER-RADIUS CASE FIRST VALUE REFERS FOR (TOP-LEFT), SECOND ONE IS FOR (TOP-RIGHT) THE THIRD ONE IS FOR BOTTOM-RIGHT AND THE LAST VALUE IS FOR BOTTOM-LEFT
        .hamburger-menu
            height: 30px
            width: 35px
            position: fixed
            top: 50px
            right: 50px
            cursor: pointer
            display: flex // FLEX BOX FOR LINES OF HAMBRUGER-MENU
            flex-direction: column // SO LINES CAN BECOME PARALLEL
            justify-content: space-around // SPACE-AROUND WILL WORK FINE FOR COLUMN DIRECTION INSETAD OF SPACE-BETWEEN
            .line
                width: 100% // THE LINES OF HAMBURGER-MENU WILL ONLY TAKES WIDTH INSIDE THE MENU
                height: 3px
                background-color: chocolate
        .nav-list
            text-align: right  // WE'VE TO USED IT SO ALL THE CONTENT WRITTEN INSIDE LIST-ITEMS (LI) WILL GET INTO THE UNIFORM ORDER
            .nav-item
                list-style: none
                margin: 25px
                .nav-link
                    text-decoration: none
                    color: black
                    font-size: 20px
                    letter-spacing: 1px
                    text-transform: uppercase