*
    margin: 0px
    padding: 0px
    font-family: sans-serif
    box-sizing: border-box

.container
    height: 100vh
    width: 100%
    background-color: black
    .nav-bar
        background-color: black
        width: 300px
        box-shadow: 0px 0px 21px -5px white
        height: 100%
        position: fixed // FIXED SO IT'LL JUST APPEAR IN THE CONTAINER
        top: 0px
        right: -300px // SAME RIGHT AS MUCH WIDTH WE GAVE TO OURS NAV-BAR
        padding: 150px 50px
        // display: flex
        // justify-content: center
        // align-items: center
        transition: right 800ms cubic-bezier(1, 0, 0, 1)
        border-radius: 20% 0 0 20% // JUST LIKE MARGIN, PADDING SCENARIO BUT IN BORDER-RADIUS CASE FIRST VALUE REFERS FOR (TOP-LEFT), SECOND ONE IS FOR (TOP-RIGHT) THE THIRD ONE IS FOR BOTTOM-RIGHT AND THE LAST VALUE IS FOR BOTTOM-LEFT
        &.change
            right: 0px
        .hamburger-menu
            height: 30px
            width: 35px
            position: fixed
            top: 50px
            right: 50px
            cursor: pointer
            display: flex // FLEX BOX FOR LINES OF HAMBRUGER-MENU
            flex-direction: column // SO LINES CAN BECOME PARALLEL
            justify-content: space-around // SPACE-AROUND WILL WORK FINE FOR COLUMN DIRECTION INSETAD OF SPACE-BETWEEN
            .line
                width: 100% // THE LINES OF HAMBURGER-MENU WILL ONLY TAKES WIDTH INSIDE THE MENU
                height: 3px
                background-color: chocolate
                transition: all 800ms 
        &.change .line-1 // THE CHANGE CLASS MEANS WHEN CLASS TRIGERS ON CLICK IT'LL ROTATE THE LINES THEREFORE WE ADD THE CHANGE CLASS ON EVERY SINGLE LINES OF HAMBURGER-MENU
            transform: rotateZ(-405deg) translate(-8px, 6px) // WE CAN USE (45DEG) FOR ROTATE
        &.change .line-2
            opacity: 0 // THE MIDDLE LINE
        &.change .line-3
            transform: rotateZ(405deg) translate(-8px, -6px)
                // BY USING TRANSLATE WE'LL GET A PERFECT (X) FOR OURS HAMBURGER-MENU
        .nav-list
            text-align: right  // WE'VE TO USED IT SO ALL THE CONTENT WRITTEN INSIDE LIST-ITEMS (LI) WILL GET INTO THE UNIFORM ORDER
            .nav-item
                list-style: none
                margin: 25px
                .nav-link
                    text-decoration: none
                    color: white
                    font-size: 20px
                    letter-spacing: 1px
                    text-transform: uppercase
                    padding: 3px 0px //  SO THE ANIMATION LINES CAN HAVE SOME SPACE WITH CONTENT WRITTEN
                    position: relative // IMPORTANT
                    &::before, &::after // WE'RE USING THIS PESUDO-ELEMENTS SO THAT WE CAN HAVE THE BEAUTIFUL ANIMATION WHEN WE HOVER OVER THE CONTENT WRITTEN
                        content: '' // THIS MEANS CONTENT TYPE IS EMPTY AND IT HAS TO BE USED WHEN EVER WE USES PSEUDO-ELEMENTS (::BEFORE, ::AFTER)
                        width: 100% // SO LINES WILL TRIGGERS TO THE LIMITS OF WRITTEN CONTENT
                        height: 2px
                        background-color: chocolate
                        position: absolute // IMPORTANT
                        left: 0px // IMPORTANT
                        transform: scaleX(0) // FOR ANIMATED LINES
                        transition: transform 500ms
                        // NOW WE'VE TO COMPULSORY USE THE POSITION ABSOLUTE INSIDE (::BEFORE) & (::AFTER) PESUDO-ELEMENTS AND POSITON ABSOLUTE INSIDE .NAV-LINK WHICH IS THE PARENT OF (::BEOFRE & ::AFTER) PSEUDO-ELEMENTS AND DON'T FORGET TO USE LEFT 0PX OTHER WISE IT WONT CAME IN TO ORDER
                    &::after
                        bottom: 0px // WE'VE TO USED IT BECAUSE THE BOTTOM LINE WONT EVEN DISPLAY WIHTOUT THIS
                        transform-origin: right // WHAT THIS WILL DO IS JUST THAT IT'LL ORIGINATE THE ANIMATED LINES FORM RIGHT FROM THE BELOW BECAUSE IT IS AN (AFTER) ELEMENT
                    &::before
                        top: 0px // THIS IS GIVEN ALREADY BY-DEFAULT
                        transform-origin: left // AND IT'LL ORIGINATE THE ANIMATED LINES FORM LEFT 
                        // NOTE IF WE DIDN'T USED THE TRANSFORM ORIGIN RIGHT, LEFT SO THE LINES WILL JUST POP FORM THE CENTER AND IT IS ALSO A PREETY GOOD ANIMATION 
                .nav-link:hover::before,
                .nav-link:hover::after
                    transform: scaleX(1) 
                        