*
    margin: 0px
    padding: 0px
    text-decoration: none
    box-sizing: border-box
    font-family: sans-serif
    user-select: none //??

body
    // overflow: hidden //??

nav
    position: absolute
    top: 30%
    left: 50%
    transform: translate(-50%, -50%)
    .drop-btn
        width: 400px
        background-color: black
        color: white
        line-height: 50px
        padding: 0px 20px
        border-radius: 5px
        font-size: 20px
        font-weight: 500
        span
            float: right
            line-height: 50px
            font-size: 28px
            cursor: pointer
    .wrapper 
        position: absolute
        top: 65px
        display: flex
        width: 400px
        overflow: hidden
        background-color: black
        border-radius: 5px
        display: none
        &.active
            display: block
            display: flex
        .setting-drop,
        .help-drop
            display: none // SO IT CAN BE ONLY VISIBLE WHEN OURS SPECIFIC CLASS GOT TRIGGERED BY JS
            .arrow
                padding-left: 10px
                font-size: 20px
                font-weight: 500
                cursor: pointer
                span
                    margin-right: 15px

        ul
            list-style: none
            width: 400px
            padding: 10px
            li
                line-height: 55px
                a
                    color: white
                    display: flex
                    font-size: 18px
                    font-weight: 500
                    padding: 0px 10px
                    align-items: center
                    border-radius: 8px
                    position: relative
                    .icon
                        height: 40px
                        width: 40px
                        margin-right: 13px
                        background-color: grey
                        display: flex
                        align-items: center
                        justify-content: center 
                        text-align: center
                        border-radius: 50%
                        float: left
                    i
                        position: absolute
                        right: 10px
                        font-size: 25px
                        pointer-events: none //???

            li:hover a
                background-color: cyan
