*
    margin: 0px
    padding: 0px
    text-decoration: none
    box-sizing: border-box
    font-family: sans-serif
    user-select: none //??

body
    // overflow: hidden //??

nav
    position: absolute
    top: 30%
    left: 50%
    transform: translate(-50%, -50%)
    .drop-btn
        width: 400px
        background-color: black
        color: white
        line-height: 50px
        padding: 0px 20px
        border-radius: 5px
        font-size: 20px
        font-weight: 500
        span
            float: right
            line-height: 50px
            font-size: 28px
            cursor: pointer
    .wrapper 
        position: absolute
        top: 65px
        display: flex
        width: 400px
        background-color: black
        border-radius: 5px
        ul
            list-style: none
            width: 400px
            padding: 10px
            li
                line-height: 55px
                a
                    color: white
                    display: flex
                    font-size: 18px
                    font-weight: 500
                    padding: 0px 10px
                    align-items: center
                    border-radius: 8px
