*
    margin: 0px
    padding: 0px
    box-sizing: border-box
    font-family: sans-serif

header
    height: 100vh
    display: flex
    justify-content: center
    align-items: center

#skills-section
    h1
        margin-top: 20px
        text-align: center