*
    margin: 0px
    padding: 0px
    box-sizing: border-box
    font-family: sans-serif

.header
    height: 100vh
    display: flex
    justify-content: center
    align-items: center
    h1
        font-size: 55px
            
.sticky
    height: 100vh
    padding: 3em
    position: relative
    p
        font-size: 2em
        width: 30%
        margin-top: 17%
        position: absolute
        span
            width: 100%
            background: red
            height: 5px
            margin-top: 20px
            display: block

.footer
    height: 100vh
    display: flex
    justify-content: center
    align-items: center
    h1
        font-size: 55px
        