*
    margin: 0px
    padding: 0px
    box-sizing: border-box
    font-family: sans-serif

.header
    height: 100vh
    display: flex
    justify-content: center
    align-items: center
    h1
        font-size: 55px
            
.sticky
    height: 100vh
    padding: 3em
    position: relative

.footer
    height: 100vh
    display: flex
    justify-content: center
    align-items: center
    h1
        font-size: 55px
        