doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title E-Cart
        link(rel="stylesheet", href="style.css")
    body 
        .container
            .text
                h1 Simple Single Carousel
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi ad, accusamus quae illo autem natus pariatur quidem iste aperiam, molestias culpa, adipisci ratione modi inventore nemo reprehenderit ipsum? Facilis, nam.
            header 
                h1 Top Products
                p 
                    span &#139;
                    span &#155;
            section 
                .product
                    picture 
                        img(src="/assets/code.jpg", alt="Laptop-Img")
                    .details
                        p   
                            b Product One
                            br
                            small New Arrival
                            br
                            samp $45.00
                            br
                    .button
                        p.star
                            strong &star;
                            strong &star;
                            strong &star;
                            strong &star;
                            strong &star;
                        a(href="#") Add-Cart
                .product
                    picture 
                        img(src="/assets/code.jpg", alt="Laptop-Img")
                    .details
                        p   
                            b Product One
                            br
                            small New Arrival
                            br
                            samp $45.00
                            br
                    .button
                        p.star
                            strong &star;
                            strong &star;
                            strong &star;
                            strong &star;
                            strong &star;
                        a(href="#") Add-Cart
                .product
                    picture 
                        img(src="/assets/code.jpg", alt="Laptop-Img")
                    .details
                        p   
                            b Product One
                            br
                            small New Arrival
                            br  
                            samp $45.00
                            br
                    .button
                        p.star
                            strong &star;
                            strong &star;
                            strong &star;
                            strong &star;
                            strong &star;
                        a(href="#") Add-Cart
                .product
                    picture 
                        img(src="/assets/code.jpg", alt="Laptop-Img")
                    .details
                        p   
                            b Product One
                            br
                            small New Arrival
                            br
                            samp $45.00
                            br
                    .button
                        p.star
                            strong &star;
                            strong &star;
                            strong &star;
                            strong &star;
                            strong &star;
                        a(href="#") Add-Cart
                .product
                    picture 
                        img(src="/assets/code.jpg", alt="Laptop-Img")
                    .details
                        p   
                            b Product One
                            br
                            small New Arrival
                            br
                            samp $45.00
                            br
                    .button
                        p.star
                            strong &star;
                            strong &star;
                            strong &star;
                            strong &star;
                            strong &star;
                        a(href="#") Add-Cart
                .product
                    picture 
                        img(src="/assets/code.jpg", alt="Laptop-Img")
                    .details
                        p   
                            b Product One
                            br
                            small New Arrival
                            br
                            samp $45.00
                            br
                    .button
                        p.star
                            strong &star;
                            strong &star;
                            strong &star;
                            strong &star;
                            strong &star;
                        a(href="#") Add-Cart
                .product
                    picture 
                        img(src="/assets/code.jpg", alt="Laptop-Img")
                    .details
                        p   
                            b Product One
                            br
                            small New Arrival
                            br
                            samp $45.00
                            br
                    .button
                        p.star
                            strong &star;
                            strong &star;
                            strong &star;
                            strong &star;
                            strong &star;
                        a(href="#") Add-Cart
                .product
                    picture 
                        img(src="/assets/code.jpg", alt="Laptop-Img")
                    .details
                        p   
                            b Product One
                            br
                            small New Arrival
                            br
                            samp $45.00
                            br
                    .button
                        p.star
                            strong &star;
                            strong &star;
                            strong &star;
                            strong &star;
                            strong &star;
                        a(href="#") Add-Cart
                .product
                    picture 
                        img(src="/assets/code.jpg", alt="Laptop-Img")
                    .details
                        p   
                            b Product One
                            br
                            small New Arrival
                            br
                            samp $45.00
                            br
                    .button
                        p.star
                            strong &star;
                            strong &star;
                            strong &star;
                            strong &star;
                            strong &star;
                        a(href="#") Add-Cart
                .product
                    picture 
                        img(src="/assets/code.jpg", alt="Laptop-Img")
                    .details
                        p   
                            b Product One
                            br
                            small New Arrival
                            br
                            samp $45.00
                            br
                    .button
                        p.star
                            strong &star;
                            strong &star;
                            strong &star;
                            strong &star;
                            strong &star;
                        a(href="#") Add-Cart
                .product
                    picture 
                        img(src="/assets/code.jpg", alt="Laptop-Img")
                    .details
                        p   
                            b Product One
                            br
                            small New Arrival
                            br
                            samp $45.00
                            br
                    .button
                        p.star
                            strong &star;
                            strong &star;
                            strong &star;
                            strong &star;
                            strong &star;
                        a(href="#") Add-Cart
                .product
                    picture 
                        img(src="/assets/code.jpg", alt="Laptop-Img")
                    .details
                        p   
                            b Product One
                            br
                            small New Arrival
                            br
                            samp $45.00
                            br
                    .button
                        p.star
                            strong &star;
                            strong &star;
                            strong &star;
                            strong &star;
                            strong &star;
                        a(href="#") Add-Cart
        .highlight
            h1 Netflix Slider
            .netflix-logo
                img(src="/assets/net.png", alt="NEtflix-Logo" class="logo")
            .carousel
                .carousel-box
                a.switch-left.slider-Btn(onclick="sliderScrollLeft()") <
                a.switch-right.slider-Btn(onclick="sliderScrollRight()") >
        .img-slider
            .slide       

    
    script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.js") 
    script(src="/script/js.js") 