doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title E-Cart
        link(rel="stylesheet", href="style.css")
    body 
        .text
            h1 Simple Single Carousel
            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi ad, accusamus quae illo autem natus pariatur quidem iste aperiam, molestias culpa, adipisci ratione modi inventore nemo reprehenderit ipsum? Facilis, nam.
        header 
            h1 Top Products
            p 
                span &#139;
                span &#155;
        section 
            .product
                picture 
                    img(src="/assets/code.jpg", alt="Laptop-Img")
                .details
                    p   
                        b Product One
                        small New Arrival
                        samp $45.00
                .button
                    p.star
                        strong &star;
                        strong &star;
                        strong &star;
                        strong &star;
                        strong &star;
                    a(href="#") Add-Cart
            .product
                picture 
                    img(src="/assets/code.jpg", alt="Laptop-Img")
                .details
                    p   
                        b Product One
                        small New Arrival
                        samp $45.00
                .button
                    p.star
                        strong &star;
                        strong &star;
                        strong &star;
                        strong &star;
                        strong &star;
                    a(href="#") Add-Cart
            .product
                picture 
                    img(src="/assets/code.jpg", alt="Laptop-Img")
                .details
                    p   
                        b Product One
                        small New Arrival
                        samp $45.00
                .button
                    p.star
                        strong &star;
                        strong &star;
                        strong &star;
                        strong &star;
                        strong &star;
                    a(href="#") Add-Cart
            .product
                picture 
                    img(src="/assets/code.jpg", alt="Laptop-Img")
                .details
                    p   
                        b Product One
                        small New Arrival
                        samp $45.00
                .button
                    p.star
                        strong &star;
                        strong &star;
                        strong &star;
                        strong &star;
                        strong &star;
                    a(href="#") Add-Cart
            .product
                picture 
                    img(src="/assets/code.jpg", alt="Laptop-Img")
                .details
                    p   
                        b Product One
                        small New Arrival
                        samp $45.00
                .button
                    p.star
                        strong &star;
                        strong &star;
                        strong &star;
                        strong &star;
                        strong &star;
                    a(href="#") Add-Cart
            .product
                picture 
                    img(src="/assets/code.jpg", alt="Laptop-Img")
                .details
                    p   
                        b Product One
                        small New Arrival
                        samp $45.00
                .button
                    p.star
                        strong &star;
                        strong &star;
                        strong &star;
                        strong &star;
                        strong &star;
                    a(href="#") Add-Cart
            .product
                picture 
                    img(src="/assets/code.jpg", alt="Laptop-Img")
                .details
                    p   
                        b Product One
                        small New Arrival
                        samp $45.00
                .button
                    p.star
                        strong &star;
                        strong &star;
                        strong &star;
                        strong &star;
                        strong &star;
                    a(href="#") Add-Cart
            .product
                picture 
                    img(src="/assets/code.jpg", alt="Laptop-Img")
                .details
                    p   
                        b Product One
                        small New Arrival
                        samp $45.00
                .button
                    p.star
                        strong &star;
                        strong &star;
                        strong &star;
                        strong &star;
                        strong &star;
                    a(href="#") Add-Cart
            .product
                picture 
                    img(src="/assets/code.jpg", alt="Laptop-Img")
                .details
                    p   
                        b Product One
                        small New Arrival
                        samp $45.00
                .button
                    p.star
                        strong &star;
                        strong &star;
                        strong &star;
                        strong &star;
                        strong &star;
                    a(href="#") Add-Cart
            .product
                picture 
                    img(src="/assets/code.jpg", alt="Laptop-Img")
                .details
                    p   
                        b Product One
                        small New Arrival
                        samp $45.00
                .button
                    p.star
                        strong &star;
                        strong &star;
                        strong &star;
                        strong &star;
                        strong &star;
                    a(href="#") Add-Cart
            .product
                picture 
                    img(src="/assets/code.jpg", alt="Laptop-Img")
                .details
                    p   
                        b Product One
                        small New Arrival
                        samp $45.00
                .button
                    p.star
                        strong &star;
                        strong &star;
                        strong &star;
                        strong &star;
                        strong &star;
                    a(href="#") Add-Cart
            .product
                picture 
                    img(src="/assets/code.jpg", alt="Laptop-Img")
                .details
                    p   
                        b Product One
                        small New Arrival
                        samp $45.00
                .button
                    p.star
                        strong &star;
                        strong &star;
                        strong &star;
                        strong &star;
                        strong &star;
                    a(href="#") Add-Cart
                