doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        title Live-Btn-JS
    body 
        .container 
            nav 
                img(src="/images/menu.png", alt="Menu-Img" class="menu-img")
                img(src="/images/kali.png", alt="Logo-Web" class="web-logo")
                ul 
                    li 
                        a(href="#") Test 
                    li 
                        a(href="#") Test 
                    li 
                        a(href="#") Test 
                    li 
                        a(href="#") Test 
                    li 
                        a(href="#") Test 
                button(type="button" onclick="toggleBtn()" id="btn")
                    span
            .lamp-container 
                img(src="/images/lamp.png", alt="img" class="lamp")
                img(src="/images/light.png", alt="img" class="light")
            .text-container 
                h1 lorem Ipsum 
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat animi commodi perspiciatis porro praesentium dolores laborum est sunt nostrum consequatur?
                a(href="#") Check Ours Collection
                .control
                    p 04
                    .line
                        span 
                    p 05