*
    margin: 0px
    padding: 0px
    box-sizing: border-box
    font-family: sans-serif
    text-decoration: none
    text-transform: uppercase
    outline: none
    border: none

.container
    position: relative
    .slide-container
        .slide
            min-height: 100vh // IF WE DIDN'T USED IT SO ALL THE SLIDER WILL BE VISIBLE IN PARALLEL MANNER WHICH DOES NOTHING LOOK LIKE SLIDER
            display: flex
            align-items: center
            flex-wrap: wrap // WILL TAKE EXACT SPACE AS PROVIDED JUST LIKE DISPLAY BLOCK
            gap: 15px // WILL PROVIDES GAP FROM EVERY SINGLE WAY 