*
    margin: 0px
    padding: 0px
    box-sizing: border-box
    font-family: sans-serif
    text-decoration: none
    text-transform: uppercase
    outline: none
    border: none

.container
    position: relative
    .slide-container
        .slide
            min-height: 100vh // IF WE DIDN'T USED IT SO ALL THE SLIDER WILL BE VISIBLE IN PARALLEL MANNER WHICH DOES NOTHING LOOK LIKE SLIDER
            display: flex
            align-items: center
            flex-wrap: wrap // WILL TAKE EXACT SPACE AS PROVIDED JUST LIKE DISPLAY BLOCK
            gap: 15px // WILL PROVIDES GAP FROM EVERY SINGLE WAY
            padding: 20px 9%
            padding-bottom: 70px 
            .content
                flex: 1 1 350px // !!!
                h3
                    font-size: 35px
                    color: #333
                p
                    font-size: 16px
                    color: #666
                    padding: 10px 0px
                .btn
                    margin-top: 10px
                    display: inline-block // WE'VE TO COMPULSORY USE IT OTHERWISE THE MARGIN WON'T WORK
                    background-color: #666
                    color: #fff
                    font-size: 17px
                    padding: 9px 40px
                .btn:hover
                    background-color: #333
            .img
                flex: 1 1 500px // !!!
                img
                    width: 100% // !!!