doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Scroll-WebPage
    body 
        section.sec-1
            .container 
                h2 Just Scroll
                .content    
                    .img
                        img(src="/assets/code.jpg", alt="Laptop-Img")
                    .text-box 
                        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id aliquam doloribus deserunt dolore quam, officia iste temporibus aspernatur molestias adipisci.
                .media-icons