doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="https://kit.fontawesome.com/59485d1319.js" crossorigin="anonymous")
        link(rel="stylesheet", href="style.css")
        title Scroll-WebPage
    body
        section.sec-1
            .container
                h2.main-tittle Just Scroll
                .content    
                    .img
                        img(src="/assets/code.jpg", alt="Laptop-Img")
                    .text-box 
                         p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id aliquam doloribus deserunt dolore quam, officia iste temporibus aspernatur molestias adipisci.
                .media-icons
                    a(href="#" class="icon") 
                        i.fab.fa-facebook
                    a(href="#" class="icon") 
                        i.fab.fa-instagram
                    a(href="#" class="icon") 
                        i.fab.fa-twitter
                    a(href="#" class="icon") 
                        i.fab.fa-youtube 