*
    margin: 0px
    padding: 0px
    height: 2000px

// .ball
//     height: 100px
//     width: 100px
//     background-color: red
//     border-radius: 50%
//     position: fixed

// .ball-1
//     height: 100px
//     width: 100px
//     background-color: red
//     border-radius: 50%
//     position: fixed
//     // top: calc(414px - 100px )
//     // right: calc( 1229px - 100px )

// .ball-2
//     height: 100px
//     width: 100px
//     background-color: red
//     border-radius: 50%
//     position: fixed

// .ball-3
//     height: 100px
//     width: 100px
//     background-color: red
//     border-radius: 50%
//     position: fixed

// .ball-4
//     height: 100px
//     width: 100px
//     background-color: red
//     border-radius: 50%
//     position: fixed
//     transition: all 200ms ease

// .ball-5
//     height: 100px
//     width: 100px
//     background-color: red
//     border-radius: 50%
//     position: fixed

// .ball-6
//     height: 100px
//     width: 100px
//     background-color: red
//     border-radius: 50%
//     position: fixed

// .ball-7
//     height: 100px
//     width: 100px
//     background-color: red
//     border-radius: 50%
//     position: fixed

// .ball-8
//     height: 100px
//     width: 100px
//     background-color: red
//     border-radius: 50%
//     position: fixed

// .ball-9
//     height: 100px
//     width: 100px
//     background-color: red
//     border-radius: 50%
//     position: fixed

// .ball-10 // STARTS FROM TOP CENTER THEN AT 0.5 RATIO MOVE BACK TO THE TOP LEFT CRONER
//     height: 100px
//     width: 100px
//     background-color: red
//     border-radius: 50%
//     position: fixed
//     transition: 200ms

.ball-11
    height: 100px
    width: 100px
    background-color: red
    border-radius: 50%
    position: fixed
    transition: 200ms

// .ball-12 // STARTS FROM CENTER LEFT THEN AFTER COLLISION WITH CORNER THE BALL WILL MOVE ALL THE WAY UP
//     height: 100px
//     width: 100px
//     background-color: red
//     border-radius: 50%
//     position: fixed


// .ball-13 // STARTS FROM CENTER LEFT THEN AFTER COLLISION WITH CORNER MOVE UP TILL THE CENTER
//     height: 100px
//     width: 100px
//     background-color: red
//     border-radius: 50%
//     transition: 200ms
//     position: fixed