*
    margin: 0px
    padding: 0px
    height: 2000px

// .ball
//     height: 100px
//     width: 100px
//     background-color: red
//     border-radius: 50%
//     position: fixed

// .ball-1
//     height: 100px
//     width: 100px
//     background-color: red
//     border-radius: 50%
//     position: fixed
//     // top: calc(414px - 100px )
//     // right: calc( 1229px - 100px )

// .ball-2
//     height: 100px
//     width: 100px
//     background-color: red
//     border-radius: 50%
//     position: fixed

.ball-3
    height: 100px
    width: 100px
    background-color: red
    border-radius: 50%
    position: fixed