*
    margin: 0px
    padding: 0px
    height: 2000px

// .ball
//     height: 100px
//     width: 100px
//     background-color: red
//     border-radius: 50%
//     position: fixed

// .ball-1
//     height: 100px
//     width: 100px
//     background-color: red
//     border-radius: 50%
//     position: fixed
//     // top: calc(414px - 100px )
//     // right: calc( 1229px - 100px )

// .ball-2
//     height: 100px
//     width: 100px
//     background-color: red
//     border-radius: 50%
//     position: fixed

.ball-3 // STARTS FROM TOP LEFT THEN AFTER HITTING (RATIO 0.5) MOVES DOWNWARD WITH OPPPOSITE DIRECTION AS OF X-AXIS
    height: 100px
    width: 100px
    background-color: red
    border-radius: 50%
    position: fixed

// .ball-4
//     height: 100px
//     width: 100px
//     background-color: red
//     border-radius: 50%
//     position: fixed
//     transition: all 200ms ease

// .ball-5 // COLLIDING WITH CENTER THEN MOVE ALL THE WAY BACK TO THE BOTTOM LEFT CORNER
//     height: 100px
//     width: 100px
//     background-color: red
//     border-radius: 50%
//     position: fixed

// .ball-6 // AFTER COMPLETEING RATIO (0.5PX) IT'LL MOVE BACK ALL THE WAY UP AT OPPOSTITE OF START
//     height: 100px
//     width: 100px
//     background-color: red
//     border-radius: 50%
//     position: fixed

// .ball-7 // STARTS FROM TOP LEFT AND AFTER COLLIDING WITH BOTTOM LEFT CORNER MOVEST TO BOTTOM RIGHT
//     height: 100px
//     width: 100px
//     background-color: red
//     border-radius: 50%
//     position: fixed
//     transition: 200ms

// .ball-8 // STARTS FROM TOP CENTER THEN MOVES IN X-AXIS IN OPPOSITE WAY
//     height: 100px
//     width: 100px
//     background-color: red
//     border-radius: 50%
//     position: fixed
//     transition: 200ms   

// .ball-9 // STARTS FROM TOP CENTER THEN MOVES IN X-AXIS IN OPPOSITE WAY
//     height: 100px
//     width: 100px
//     background-color: red
//     border-radius: 50%
//     position: fixed
//     transition: 200ms   

// .ball-10 // STARTS FROM TOP CENTER THEN AT 0.5 RATIO MOVE BACK TO THE TOP LEFT CORONER (BALL 10 AND BALL 11 WERE IN BACK.JS)
//     height: 100px
//     width: 100px
//     background-color: red
//     border-radius: 50%
//     position: fixed
//     transition: 200ms

// .ball-11 // STARTS FROM BOTTOM CENTER THEN AT 0.5 RATIO MOVES BACK DOWN TO THE BOTTOM LEFT CORONER (BALL 10 AND BALL 11 WERE IN BACK.JS)
//     height: 100px
//     width: 100px
//     background-color: red
//     border-radius: 50%
//     position: fixed
//     transition: 200ms

// .ball-12 // STARTS FROM CENTER LEFT THEN AFTER COLLISION WITH CORNER THE BALL WILL MOVE ALL THE WAY UP
//     height: 100px
//     width: 100px
//     background-color: red
//     border-radius: 50%
//     position: fixed


// .ball-13 // STARTS FROM CENTER LEFT THEN AFTER COLLISION WITH CORNER MOVE UP TILL THE CENTER
//     height: 100px
//     width: 100px
//     background-color: red
//     border-radius: 50%
//     transition: 200ms
//     position: fixed