*
    margin: 0px
    padding: 0px
    font-family: sans-serif
    box-sizing: border-box


header
    background-color: black
    text-align: center
    ul
        display: inline-flex
        list-style: none
        li
            padding: 25px 35px
            // transition: all 600ms ease
            cursor: pointer
            width: 200px  
            i
                margin-right: 3px
                color: white
            a
                text-decoration: none
                color: white
                font-size: 20px
            .sub-menu
                display: none
                color: white
                ul
        li:hover .sub-menu
            display: block
            position: absolute
            margin-top: 25px
            margin-left: -35px
            background-color: aqua
            width: 200px
        li:hover .sub-menu ul
            display: block
        li:hover .sub-menu ul li
            padding: 10px
            border-bottom: 1px solid black
            .sub-menu-1 
                display: none
        li:hover .sub-menu ul .hover:hover .sub-menu-1
            position: absolute
            display: block
            margin-top: -33px
            margin-left: 190px
            background-color: aqua
        li:hover .sub-menu ul li:last-child
            border-bottom: none
        li:hover
            background-color: aqua
            color: black

nav
    background-color: black
    color: white
    margin: 20px auto
    width: 100%
    padding: 10px 0px