*
    margin: 0px
    padding: 0px
    font-family: sans-serif
    box-sizing: border-box


header
    background-color: black
    text-align: center
    ul
        display: inline-flex
        list-style: none
        li
            padding: 25px 35px
            // transition: all 600ms ease
            cursor: pointer
            width: 200px  
            i
                margin-right: 3px
                color: white
            a
                text-decoration: none
                color: white
                font-size: 20px
            .sub-menu
                display: none
                color: white
                ul
        li:hover .sub-menu
            display: block
            position: absolute
            margin-top: 25px
            margin-left: -35px
            background-color: aqua
            width: 200px
        li:hover .sub-menu ul
            display: block
        li:hover .sub-menu ul li
            padding: 10px
            border-bottom: 1px solid black
            .sub-menu-1 
                display: none
        li:hover .sub-menu ul .hover:hover .sub-menu-1
            position: absolute
            display: block
            margin-top: -33px
            margin-left: 190px
            background-color: aqua
        li:hover .sub-menu ul li:last-child
            border-bottom: none
        li:hover
            background-color: aqua
            color: black



// ANIMATED DROP-DOWN BTN
nav
    background-color: black
    color: white
    margin: 20px auto   
    width: 1200px
    padding: 10px 40px
    line-height: 40px // THIS ONE IS IMP EVEN FOR POP-DOWN MENU & COMPULSORY
    display: flex
    justify-content: space-between
    // transform: translate(-50%, -50%) // FOR JUST SINGLE DROP-DOWN BTNS
    .btn
        cursor: pointer
        span
            margin-left: 10px
    input
        display: none // IMPORTANT
    .menu:before
        position: absolute
        content: ''
        height: 20px
        width: 20px
        background-color: black
        right: 35px
        top: -10px
        transform: rotate(45deg)
        z-index: 1
    .menu-1:before
        position: absolute
        content: ''
        height: 20px
        width: 20px
        background-color: black
        right: 55px
        top: -10px
        transform: rotate(45deg)
        z-index: 1
    .menu-2:before
        position: absolute
        content: ''
        height: 20px
        width: 20px
        background-color: black
        right: 55px
        top: -10px
        z-index: 1
        transform: rotate(45deg)
    .position
        position: absolute
        list-style: none
        background-color: black
        top: 165px
        left: 47%
        display: none
        text-align: center
        width: 200px
        span
            margin-left: 10px
    .position-1
        position: absolute
        list-style: none
        background-color: black
        top: 165px
        right: 0px
        display: none
        text-align: center
        width: 200px
        span
            margin-left: 10px
    ul
        position: absolute // IMPORTANT
        list-style: none
        background-color: black
        top: 165px //IMPORTANT
        display: none //IMPORTANT OTHERWISE THE DROP-DOWN WONT WORKS
        text-align: center
        width: 200px
        span
            margin-left: 10px
        li
            cursor: pointer
            border-bottom: 1px solid white
            label
                font-size: 18px
                margin-left: 15px
                cursor: pointer 
            input
                display: none
                span
                    margin-left: 10px
            ul
                position: static // VERY IMPOTANT FOR SUB-BRANCHES
                li
                    border-bottom: none // IMPROTANT
                    line-height: 35px
                    padding-left: 55px // IMPOTANT OTHERWISE IT'LL LOOKALIKE THE SAME AS OTHER BUT NOT AS SUB-BRANCHES
                    a
                        color: white
                        font-size: 17px
            a
                text-decoration: none
                color: white
                display: block
                font-size: 18px
            a:hover, label:hover
                color: cyan


// MOST IMPROTANT FUNCTION
[id^=btn]:checked + ul  // WE PUT + UL BECAUSE WE GAVE DISPLAY NONE TO OURS UL THEREFORE
        display: block



.slider
    background-color: aqua
    height: 800px
    width: 1200px
    margin: 10px auto