*
    margin: 0px
    padding: 0px
    font-family: sans-serif
    box-sizing: border-box


header
    background-color: black
    text-align: center
    ul
        display: inline-flex
        list-style: none
        li
            padding: 10px 20px
            margin: 10px 20px
            transition: all 600ms ease
            cursor: pointer
            a
                text-decoration: none
                color: white
        li:hover
            background-color: aqua