*
    margin: 0px
    padding: 0px
    box-sizing: border-box
    font-family: sans-serif
.container
    min-height: 100vh
    width: 100%
    background-color: #000
    color: #fff
    position: relative
    nav
        display: flex
        align-items: center
        padding: 20px 8%
        .menu-img
            width: 25px
            margin-right: 20px
            cursor: pointer
        .web-logo
            width: 160px
            cursor: pointer
        ul
            flex: 1 // SINCE WE'VE ALREADY GAVE DISPLAY FLEX ON THE PARENT CONTAINER WHICH IS OURS NAV SO WE'LL GAVE (FLEX 1) TO THE UL SO UL WILL TOOK ALL THE REMAINING SPACE SO WE CAN SAYS THAT THE (1) REFERS TO 100%
            text-align: right
            list-style: none
            li
                display: inline-block // SO EVERY LI WILL TAKE A BLOCK SPACE MEANS COMPLETE SPACE
                margin: 0px 20px
                a
                    text-decoration: none
                    color: #fff
        button
            background: #efefef
            height: 30px
            width: 60px
            border-radius: 20px
            border: 0px // SO IT'LL REMOVE A FREAKY LOOKING TORNED BORDER
            outline: 0px
            cursor: pointer
            span // FOR MAKING A CIRCLE INSIDE OURS BUTTON
                display: block
                background-color: #999
                height: 26px
                width: 26px
                border-radius: 50% // IT'LL CREATE A GOOD LOOKING CIRCLE INSIDE OURS BUTTON
                margin-left: 2px // FOR POSITIONG
    .lamp-container
        position: absolute
        top: -20px
        left: 22%
        width: 200px
        .lamp
            width: 100%
        .light
            position: absolute
            top: 97% 
            left: 50%
            transform: translateX(-50%)
            margin-left: -10px
            width: 700px // SO IT'LL ADJUST IT'SELF INTO THE LAMP
    .text-container
        max-width: 600px
        margin-top: 7%
        margin-left: 50%
        a
            text-decoration: none
            color: #fff 
            background-color: #efefef
            padding: 20px 30px
            border-radius: 30px
            font-size: 19px
            display: inline-block // MAKE SURE TO USE IT OTHERWISE THE MARGIN WON'T WORKS
            margin-top: 50px
        .control
            display: flex
            align-items: center