*
    margin: 0px
    padding: 0px
    box-sizing: border-box
    font-family: sans-serif
.container
    min-height: 100vh
    width: 100%
    background-color: #000
    color: #fff
    position: relative
    nav
        display: flex
        align-items: center
        padding: 20px 8%
        .menu-img
            width: 25px
            margin-right: 20px
            cursor: pointer
        .web-logo
            width: 160px
            cursor: pointer
        ul
            flex: 1 // SINCE WE'VE ALREADY GAVE DISPLAY FLEX ON THE PARENT CONTAINER WHICH IS OURS NAV SO WE'LL GAVE (FLEX 1) TO THE UL SO UL WILL TOOK ALL THE REMAINING SPACE SO WE CAN SAYS THAT THE (1) REFERS TO 100%
            text-align: right
            list-style: none
            li
                display: inline-block // SO EVERY LI WILL TAKE A BLOCK SPACE MEANS COMPLETE SPACE
                margin: 0px 20px
