*
    margin: 0px
    padding: 0px
    box-sizing: border-box
    font-family: sans-serif
.container
    min-height: 100vh
    width: 100%
    background-color: #000
    color: #fff
    position: relative
    nav
        display: flex
        align-items: center
        padding: 20px 8%
        .menu-img
            width: 25px
            margin-right: 20px
            cursor: pointer
        .web-logo
            width: 160px
            cursor: pointer