doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Drop-Down
        link(rel="stylesheet", href="style.css")

    body 
        header 
            h1 Practice Page For Drop-Down Menu
            h1 This Web-Page Was Created On 
            #date
            h1 Today The Date Is
            #day
            .menu-bar
                ul 
                    li.active
                        a(href="#") Home
                    li
                        a(href="#") Contact
                    li
                        a(href="#") FeedBack
                    li
                        a(href="#") Branches
                    li
                        a(href="#") Code
                    li
                        a(href="#") Web-Page
                    li
                        a(href="#") About
    script(src="/script/js.js") 