doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Drop-Down
        script(src="https://kit.fontawesome.com/59485d1319.js" crossorigin="anonymous")
        link(rel="stylesheet", href="style.css")

    body 
        header 
            h1 Practice Page For Drop-Down Menu
            h1 This Web-Page Was Created On 
            #date
            h1 Today The Date Is
            #day
            .menu-bar
                ul 
                    li.active
                        i.fas.fa-home
                        a(href="#") Home
                    li
                        i.fas.fa-user
                        a(href="#") Contact
                    li
                        i.fas.fa-comments
                        a(href="#") FeedBack
                    li
                        i.fas.fa-code-branch
                        a(href="#") Branches
                    li
                        i.fas.fa-home
                        a(href="#") Code
                    li  
                        i.fas.fa-home
                        a(href="#") Web
                    li
                        i.fas.fa-home
                        a(href="#") About
                        
    script(src="/script/js.js") 