*
    margin: 0px
    padding: 0px
    box-sizing: border-box
    font-family: sans-serif

section
    min-height: 100vh
    display: flex
    justify-content: center
    align-items: center
    .container
        margin: 100px
        h1
            font-size: 60px
        h2
            font-size: 40px
            text-align: center
            text-transform: uppercase
        .cards
            display: flex
            .text-card
                background-color: aqua
                margin: 20px
                padding: 10px
                h3
                    font-size: 30px
                    text-align: center
                    text-transform: uppercase
                    margin-bottom: 10px
        &.reveal
            opacity: 0
            transition: all 200ms ease
            position: relative
        &.active
            opacity: 1
