doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        script(src="https://kit.fontawesome.com/59485d1319.js" crossorigin="anonymous")
        title Drop-Down-Js 
    body 
        nav 
            ul 
                li Home
                li#menu Shop
                    i.fas.fa-sort-down#rotate
                    ul#dropdown
                        li PS5
                        li PS4
                        li X-Box
                li Donate
                li Feedback
                li Contact Us
    script(src="/script/js.js") 