doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        script(src="https://kit.fontawesome.com/59485d1319.js" crossorigin="anonymous")
        title Drop-Down-Js 
    body 
        .wrapper 
            .navbar 
                ul 
                    li 
                        a(href="#" class="a_parent")
                            .wrap 
                                span.icon
                                    i.fas.fa-home
                                span.text Home
                    li 
                        a(href="#" class="a_parent")
                            .wrap 
                                span.icon
                                    i.fas.fa-utensils
                                span.text Food
                    li 
                        a(href="#" class="a_parent")
                            .wrap 
                                span.icon
                                    .fas.fa-volleyball-ball
                                span.text Sports
                    li 
                        a(href="#" class="a_parent")
                            .wrap 
                                span.icon
                                    i.fas.fa-id-card
                                span.text Contact
                    li 
                        a(href="#" class="a_parent")
                            .wrap 
                                span.icon
                                    i.fas.fa-id-card
                                span.text About 