doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="https://kit.fontawesome.com/59485d1319.js" crossorigin="anonymous")
        title Slider
        link(rel="stylesheet", href="style.css")
    body 
        header
            h1 This Web-Page Was Created on 
            #day
            h1 Today The Date Is
            #watch
        h1.nav The Slider Below Is Made By Pure Jade, Sass & JavaScript
        nav 
            label(for="" class="button") Drop-Down
                span.fas.fa-caret-down
        .slider
            .slides
                input(type="radio" name="radio-btn" id="radio1")
                input(type="radio" name="radio-btn" id="radio2")
                input(type="radio" name="radio-btn" id="radio3")
                input(type="radio" name="radio-btn" id="radio4")
                .slide.first
                    img(src="/assets/topp.jpg", alt="Sky-Scrapers-img" class="img")
                .slide
                    img(src="/assets/top.jpg", alt="Sky-Scrapers-img" class="img")
                .slide
                    img(src="/assets/dubai.jfif", alt="Sky-Scrapers-img" class="img")
                .slide
                    img(src="/assets/background.jpg", alt="Sky-Scrapers-img" class="img")
                .nav-auto
                    .auto-btn1
                    .auto-btn2
                    .auto-btn3
                    .auto-btn4
            .nav-manual
                label(for="radio1" class="manual-btn")
                label(for="radio2" class="manual-btn")
                label(for="radio3" class="manual-btn")
                label(for="radio4" class="manual-btn") 

        h1.nav The Animation Below Is Made By Pure Jade & Sass
        #animation   
        h1.nav The Carousel Below Is Made By Pure Jade, Sass & JavaScript 
        #carousel
                .repeat 
                    h1.text linux 
                    p.text.opacity Operating System
                .repeat 
                    h1.text linux 
                    p.text.opacity Fastest Operating System 
                .repeat 
                    h1.text.color Landscape 
                    p.text.opacity.color Lorem ipsum dolor sit, amet consectetur adipisicing elit.  Repudiandae rem iste quibusdamconsequatur, reprehenderit soluta perferendis temporibus!Odit harum soluta quiainventore  aperiam assumenda totam facilis, eos suscipit, odio rem!
                .repeat 
                    h1.text.color Hiking 
                    p.text.color-para.opacity Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae atque ipsum nam ullam expedita laboriosam nihil quis hic provident unde, amet accusamus nesciunt placeat vitae cupiditate possimus qui quisquam consectetur.
                .repeat 
                    h1.text.color K-2
                    p.text.color-para.opacity Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores cum voluptates ipsam mollitia dolorem necessitatibus qui harum, sapiente sequi praesentium in delectus culpa sit quam, numquam placeat ducimus iusto porro!
                    
    script(src="/script/script.js") 