doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        title Pure-Slider-JS
    body 
        .container 
            .slide-container.active
                .slide 
                    .content
                        h3 01. Web-Page Layout 
                        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione pariatur fugit corrupti inventore modi assumenda delectus consequatur soluta obcaecati officiis.
                        a(href="#" class="btn") Learn More
                    .img 
                        img(src="/assets/code.jpg", alt="Img")
            .slide-container
                .slide 
                    .content
                        h3 01. Web-Page Layout 
                        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione pariatur fugit corrupti inventore modi assumenda delectus consequatur soluta obcaecati officiis.
                        a(href="#" class="btn") Learn More
                    .img 
                        img(src="/assets/code1.jpg", alt="Img")
            .slide-container
                .slide 
                    .content
                        h3 03. Web-Page Layout 
                        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione pariatur fugit corrupti inventore modi assumenda delectus consequatur soluta obcaecati officiis.
                        a(href="#" class="btn") Learn More
                    .img 
                        img(src="/assets/code3.jpg", alt="Img")
            #prev(onclick="prev()")
            #next(onclick="next()")
    script(src="/script/js.js") 