.items {
  width: 900px;
  margin: auto;
  max-width: 100%;
  background: blue;
}
.items .item {
  background-color: rebeccapurple;
  margin: 0px 4px 0px 8px;
  width: calc(33.3333334% - 16px);
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  padding-bottom: 16px;
}

.items .item .image {
  width: 100%;
  height: 240px;
}

.items .item .name {
  font-size: 24px;
  font-weight: 600;
}

.items .item .button {
  margin: auto;
  width: 60px;
  color: white;
  padding: 8px 16px;
  background: blue;
  border-radius: 4px;
  display: inline-block;
}
