*
    margin: 0px
    padding: 0px
    font-family: sans-serif
    box-sizing: border-box

nav
    background-color: black
    color: white
    max-width: 100%
    width: 1200px
    margin: auto
    line-height: 35px // IMPORTANT
    padding: 10px 50px
    label
        cursor: pointer
        margin-left: 45px
        span
            margin-left: 10px
    input
        display: none
    .menu:before // THIS PART IS COMPULSORY FOR ANIMATED DROP-DOWN MENU
        content: '' // IMPORTANT
    ul
        position: absolute // WE HAVE TO USE ABSOLUTE POSITON COMPULSORY OTHERWISE DROP-DOWN MENU WONT WORK
        top: 75px
        border-radius: 15px
        text-align: center
        width: 200px
        background-color: black
        li
            line-height: 40px
            border-bottom: 1px solid white
            a
                text-decoration: none
                color: white
        li:last-child
            border-bottom: none // IMPROTANT