*
    margin: 0px
    padding: 0px
    font-family: sans-serif
    box-sizing: border-box

nav
    background-color: black
    color: white
    max-width: 100%
    width: 1200px
    margin: auto
    line-height: 35px // IMPORTANT
    padding: 10px 50px
    label
        cursor: pointer
        margin-left: 45px
        span
            margin-left: 10px
    input
        display: none
    ul
        position: absolute
        top: 75px
        border-radius: 15px
        text-align: center
        width: 200px
        background-color: black
        li
            line-height: 40px