*
    margin: 0px
    padding: 0px
    font-family: sans-serif
    box-sizing: border-box

nav
    background-color: black
    color: white
    max-width: 100%
    width: 1200px
    margin: auto
    line-height: 35px // IMPORTANT
    padding: 20px 50px
    label
        cursor: pointer
        span
            margin-left: 10px
    input
        display: none
    ul
        position: absolute
        top: 95px
        width: 200px
        background-color: black
    