doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        script(src="https://kit.fontawesome.com/59485d1319.js" crossorigin="anonymous")
        title Dev-JavaScript-WebPage
    body
        section#home
            .header-bg.layer
            .layer-2.layer.blub#p-layer-1
            .layer-3.layer.blub#p-layer-2
                h1.width Huzaifa Iqbal
                h2.width Learning Html/Css/JavaScript 
                h3.width I Am Currently Learning Html/Css/JavaScript And
                    br
                    |I love Facing New Challenges In Web-Developing
        .back
            section#about
                .left
                    h5.name Huzaifa Iqbal 
                    h6.about I Am Currently Learning Html/Css/JavaScript And I love Facing New Challenges In Web-Developing
                    p.greetings Assalam O Allikum.
                    p.same-1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias iste doloremque laudantium ab tempore dolorum iusto maiores sequi pariatur. Fuga culpa doloremque minima corrupti esse quasi? Doloremque omnis commodi repellendus! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem, quibusdam?
                    br
                    p.same-2 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est neque pariatur quasi nam corporis omnis dicta blanditiis ipsam! Hic adipisci, perspiciatis voluptatibus accusamus commodi consequuntur voluptatum dignissimos quas expedita odio.
                .right
                    img(src="/images/h.jpg", alt="Img" class="dev-img")
        .back-1
            section#status
                .box
                    .sets 
                            p 0
                    p.question Completed Projects
                .box
                    .sets 
                        p 2
                    p.question Cups Of Tea
                .box
                    .sets 
                        p 3+
                    p.question Months Of Experience 
                .box
                    .sets 
                        p 100+
                    p.question Hours Spended
            .back-2
                .top 
                    i.fa.fa-quote-left 
                section#slider
                    .slide 
                        p.quotes Stars Are The Begining Of New  
                        p.quotes Space, Not The End
                        h1 - Anonymous
                    .slide 
                        p.quotes Black-Hole Can Be The Path 
                        p.quotes For New Universe
                        h1 - Anonymous
                    .slide 
                        p.quotes Time Will Be Stopped Or Became Dilate  
                        p.quotes If You've Speed Of Light
                        h1 - Anonymous
                    .slide 
                        p.quotes Speed Of Light Can Be 
                        p.quotes Attained
                        h1 - Anonymous
                    .slide 
                        p.quotes The Universe Is Spanding
                        p.quotes Continuously, Non-Stop  
                        h1 - Anonymous
                    .slide 
                        p.quotes Earth Didn't Stayed At A place Rather
                        p.quotes It Is Revolving Around Sun & Moving With The Sun
                        h1 - Anonymous
                    .slide 
                        p.quotes Every Particle Has An Anti-Particle 
                        p.quotes So, There Can Also Be A Parallel Universe
                        h1 - Anonymous
                .bottom
                    i.fa.fa-quote-right 
        .back-3 
            section.skills
                .expertise 
                    h3 Skills & Expertise
                    p I Can Say I'm Quite Good At
                .skill-bar
                    .left-skill
                        .common 
                            p Html 
                            .bar
                                .s
                        .common
                            p Jade/Pugg
                            .bar-1
                                .s-1
                        .common
                            p JavaScipt
                            .bar-3
                                .s-3
                    .right-skill
                        .common
                            p Css
                            .bar
                                .s
                        .common
                            p Sass
                            .bar-2
                                .s-2
                        .common
                            p Git
                            .bar-4
                                .s-4
        .back-4 
            section#portfolio 
                h3 Portfolio
                p CheckOut Some Of My Work
                .projects 
                    .work
                        img(src="/images/code.jpg")
                        .content 
                            h1 Macbook Pro
                            p Macbook Pro For Coding
                            button View
                                .btn
                    .work
                        img(src="/images/code1.jpg")
                        .content 
                            h1 Macbook Pro
                            p Macbook Pro For Coding
                            button View
                                .btn
                    .work
                        img(src="/images/code3.jpg")
                        .content 
                            h1 Macbook Pro
                            p Macbook Pro For Coding
                            button View
                                .btn
                .projects 
                    .work
                        img(src="/images/linux.png")
                        .content 
                            h1 Macbook Pro
                            p Macbook Pro For Coding
                            button View
                                .btn
                    .work
                        img(src="/images/linuuu.png")
                        .content 
                            h1 Macbook Pro
                            p Macbook Pro For Coding
                            button View
                                .btn
                    .work
                        img(src="/images/kali-linux.jfif")
                        .content 
                            h1 Macbook Pro
                            p Macbook Pro For Coding
                            button View
                                .btn
        .back-5
            section#contact
                h1 Contact
                .main-box
                    .social-media
                        .fas.fa-envelope.icon
                        p huzaifa.iqdev@gmail.com
                        h5 Email
                    .social-media
                        .fas.fa-phone.icon
                        p 03352539311
                        h5 Phone
                    .social-media
                        .fab.fa-github.icon
                        p HuziDev
                        h5 Git-Hub
                    .social-media
                        .fab.fa-skype.icon
                        p huzaifa.iqbal.jawaid.iqbal
                        h5 Skype
                h1 Message Me
                form(action="")
                    .info 
                        input(type="text" placeholder="Enter Yours Name" class="name-1")
                        input(type="email" placeholder="Enter Yours Email" class="name-2")
                    textarea(name="Message" placeholder="Yours Message" ) 
                    button Send Message
            h1.copy-right All Rights Are Reserved &copy; 2021-22
        .nav-bar 
            .hamburger 
                .line.line-1
                .line.line-2
                .line.line-3
            ul
                li.nav-item 
                    a(href="#") Home 
                li.nav-item 
                    a(href="#") Menu 
                li.nav-item 
                    a(href="#") Contact
                li.nav-item 
                    a(href="#") Feedback 
                li.nav-item 
                    a(href="#") About US
                li.nav-item 
                    a(href="#") Code
                li.nav-item 
                    a(href="#") Applications
        section#character 
            span.desc#character-desc Hello How Are You?
            span.char#character-base
                img(src="/images/char.png", alt="Character-Img")
        .ball
            .arrow
        .square
            .arrow
        .vertical-1 
            .arrow-1
        .vertical-2
            .arrow-1
        .vertical-3 
            .arrow-2
        .vertical-4
            .arrow-2
        .bottom-left
            .arrow
        .bottom-right
            .arrow
    script(src="/script/js.js")  
    script(src="/script/ball.js")
    script(src="/script/square.js")
    script(src="/script/vertical.js")
    script(src="/script/bottom-r.js")
    script(src="/script/bottom-l.js") 