doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        title Dev-JavaScript-WebPage
    body
        section#home
            .header-bg.layer
            .layer-2.layer.blub#p-layer-1
            .layer-3.layer.blub#p-layer-2
        .nav-bar 
            .hamburger 
                .line.line-1
                .line.line-2
                .line.line-3
            ul
                li.nav-item 
                    a(href="#") Home 
                li.nav-item 
                    a(href="#") Menu 
                li.nav-item 
                    a(href="#") Contact
                li.nav-item 
                    a(href="#") Feedback 
                li.nav-item 
                    a(href="#") About US
                li.nav-item 
                    a(href="#") Code
                li.nav-item 
                    a(href="#") Applications
    script(src="/script/js.js")  