doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        title Dev-JavaScript-WebPage
    body
        section#home
            .header-bg.layer
            .layer-2.layer.blub#p-layer-1
            .layer-3.layer.blub#p-layer-2
        .container 
            .heading 
                h1 Huzaifa Iqbal
            .description
                h2 Learning Html/Css/JavaScript 
                h3 I Am Currently Learning Html/Css/JavaScript And I love Facing New Challenges In Web-Developing
        section#info
            .left
                h5.name Huzaifa Iqbal 
                h6.about I Am Currently Learning Html/Css/JavaScript And I love Facing New Challenges In Web-Developing
                p.greetings Assalam O Allikum.
                p.same-1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias iste doloremque laudantium ab tempore dolorum iusto maiores sequi pariatur. Fuga culpa doloremque minima corrupti esse quasi? Doloremque omnis commodi repellendus! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem, quibusdam?
                br
                p.same-2 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est neque pariatur quasi nam corporis omnis dicta blanditiis ipsam! Hic adipisci, perspiciatis voluptatibus accusamus commodi consequuntur voluptatum dignissimos quas expedita odio.
            .right
                img(src="/images/h.jpg", alt="Img" class="dev-img")
        section#skill-set
            .sets 
                p test
            .sets 
                p test
            .sets 
                p test
            .sets 
                p test
        .nav-bar 
            .hamburger 
                .line.line-1
                .line.line-2
                .line.line-3
            ul
                li.nav-item 
                    a(href="#") Home 
                li.nav-item 
                    a(href="#") Menu 
                li.nav-item 
                    a(href="#") Contact
                li.nav-item 
                    a(href="#") Feedback 
                li.nav-item 
                    a(href="#") About US
                li.nav-item 
                    a(href="#") Code
                li.nav-item 
                    a(href="#") Applications
    script(src="/script/js.js")  