.about {
  /* background-color: aqua; */
  width: 1200px;
  margin: auto;
  height: 1000px;
}

.about .left-side {
  width: 600px;
  /* background-color: black; */
  display: grid;
  grid-template-columns: 2fr 3.8fr;
  grid-gap: 15px;
}

.about .left-side .left-img {
  height: 200px;
  width: 200px;
}

.about .left-side .first {
}

.about .left-side .second {
  margin-top: 30px;
  height: 300px;
}

.about .left-side .third {
  height: 300px;
  position: relative;
  bottom: 130px;
}

.about .left-side .fourth {
  height: 250px;
}

.about .left-side .search-bar {
  width: 200px;
  height: 300px;
  background-size: cover;
  background-image: url(/assets/images/tower1.jpg);
}

.about .left-side .center {
  width: 210px;
  display: flex;
  position: relative;
  right: 5px;
  overflow: auto;
  border-radius: 20px;
  background-color: white;
  margin-top: 50px;
  padding: 5px 25px;
  box-shadow: 0px 0px 10px -5px;
  align-items: center;
}

.about .left-side .center p {
  opacity: 0.5;
  font-size: 13px;
}

.about .left-side .center .fa-search {
  position: relative;
  left: 88px;
  color: white;
  border-radius: 100%;
  padding: 9px;
  background-color: black;
}
