.about {
  width: 1200px;
  margin: auto;
  height: 600px;
  display: flex;
}

.about .left-side {
  width: 600px;
  display: grid;
  margin: auto;
  grid-template-columns: 2fr 3.8fr;
  grid-gap: 15px;
}

.about .left-side .left-img {
  height: 250px;
  width: 250px;
  border-radius: 5px;
  box-shadow: 0px 0px 15px -5px black;
}

.about .left-side .search-bar {
  width: 250px;
  height: 350px;
  background-size: cover;
  border-radius: 5px;
  margin-top: 30px;
  box-shadow: 0px 0px 15px -5px black;
  background-image: url(/assets/images/building.jpg.jpg);
}

.about .left-side .center {
  width: 250px;
  display: flex;
  position: relative;
  right: 5px;
  overflow: auto;
  border-radius: 20px;
  background-color: white;
  margin-top: 50px;
  padding: 5px 25px;
  box-shadow: 0px 0px 10px -5px;
  align-items: center;
  box-shadow: 0px 0px 15px -3px black;
}

.about .left-side .center p {
  opacity: 0.5;
  font-size: 13px;
}

.about .left-side .center .fa-search {
  position: relative;
  left: 130px;
  color: white;
  border-radius: 100%;
  padding: 9px;
  background-color: black;
  cursor: pointer;
}

.about .left-side .price-range {
  position: relative;
  bottom: 130px;
  width: 250px;
  height: 350px;
  background-size: cover;
  background-image: url(/assets/images/sky.jpg);
  border-radius: 5px;
  box-shadow: 0px 0px 15px -5px black;
}

.about .left-side .range {
  display: flex;
  position: relative;
  top: 220px;
  right: 70px;
  overflow: auto;
  align-items: center;
  border-radius: 10px;
  background-color: white;
  padding: 5px 20px;
  height: 50px;
  width: 190px;
  box-shadow: 0px 0px 15px -3px black;
}

.about .left-side .range p {
  padding: 7px 0px;
  font-weight: bold;
  opacity: 0.6;
}

.about .left-side .price-range .price-tag {
  font-size: 13px;
  margin-left: 30px;
  color: #fe7229;
  opacity: 1;
}

.about .left-side .fourth {
  background-size: cover;
  height: 250px;
  width: 250px;
  border-radius: 5px;
  box-shadow: 0px 0px 15px -5px black;
  background-image: url(/assets/images/towers.jpg);
}

.about .left-side .fourth .fa-map-marker-alt {
  color: white;
  position: relative;
  float: right;
  font-size: 25px;
  padding: 7px 10px;
  border-radius: 9px;
  left: 15px;
  box-shadow: 0px 0px 15px -3px black;
  background-color: #fe7229;
  top: 30px;
  cursor: pointer;
}

.about .right-side {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
  justify-content: center;
}

.about .right-side p {
  font-size: 15px;
  opacity: 0.6;
  margin-bottom: 12px;
}

.about .right-side h1 {
  word-spacing: 3px;
  margin-bottom: 15px;
}

.about .right-side .know {
  text-decoration: none;
  height: 35px;
  width: 180px;
  text-align: center;
  color: white;
  padding-top: 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 15px -3px black;
  margin-top: 20px;
  background-color: #016450;
}

.about .right-side .know .fa-arrow-right {
  margin-left: 25px;
  opacity: 0.6;
  font-size: 19px;
}
