.explore {
  background-color: #f5eee8;
  height: 900px;
  width: 100%;
  margin: auto;
}

.explore .heading {
  background-color: blanchedalmond;
  max-width: 1050px;
  margin: auto;
  padding-top: 90px;
}

.explore .properties {
  background-color: blueviolet;
  max-width: 1050px;
  margin: auto;
  display: flex;
  align-items: center;
}

.explore .properties ul {
  display: flex;
  width: 90%;
  list-style: none;
}
.explore .properties ul li a {
  padding: 15px 20px;
  border-radius: 25px;
  margin-right: 15px;
  cursor: pointer;
  transition: all 600ms ease;
  background-color: white;
  text-decoration: none;
  color: #282c3a;
}
.explore .properties ul li a:hover {
  background-color: #282c3a;
  color: white;
}

.explore .properties ul li a .fa-building {
  padding-right: 5px;
}

.explore .properties .explore-all {
  color: white;
  width: 10%;
  background-color: aqua;
  float: right;
}
