header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}

header .head {
  display: flex;
  align-items: center;
}
header .head h3 {
  margin-right: 60px;
}
header .head ul li {
  cursor: pointer;
}

header .fas {
  font-size: 25px;
  margin-right: 7px;
}

header ul .item {
  float: left;
  list-style: none;
  margin: 0px 17px;
}

header .btn {
  float: left;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 7px;
  font-weight: bolder;
}

header .btn-f {
  margin-right: 10px;
  color: #016450;
  background-color: white;
  border: 2px solid #016450;
}
header .btn-n {
  background-color: #016450;
  border: 2px solid #016450;
  color: white;
}
