.options {
  text-align: center;
  height: 150px;
}

.slider {
  max-width: 1150px;
  margin: auto;
  display: flex;
  height: 750px;
  align-items: center;
}
.slider .img-slider {
  background-image: url(/assets/images/room.jpg);
  height: 500px;
  width: 900px;
  border-radius: 9px;
  margin: auto;
  background-size: cover;
}

.slider .img-slider .fa-play {
  padding: 20px 20px;
  background-color: #2f2f2c;
  position: relative;
  left: 420px;
  top: 220px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 600ms ease;
  color: white;
  border: 0.5px solid #016450;
}

.slider .img-slider .fa-play:hover {
  background-color: white;
  color: #2f2f2c;
}

.slider .img-slider .review {
  background-color: white;
  height: 300px;
  width: 200px;
  position: relative;
  float: right;
  top: 125px;
  right: -80px;
  display: flex;
  box-shadow: 0px 0px 15px -5px black;
  flex-direction: column;
  justify-content: center;
  padding: 0px 30px;
}

.slider .img-slider .review h1 {
  color: #ff6501;
  font-size: 60px;
  height: 50px;
}

.slider .img-slider .review p {
  font-weight: bold;
  opacity: 0.9;
  word-spacing: 6px;
  font-size: 14px;
}

.slider .img-slider .review .buyer {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.slider .img-slider .review .buyer .desh {
  font-size: 25px;
  margin-right: 8px;
}

.slider .img-slider .review .buyer span {
  font-weight: bolder;
}

.line {
  background-color: #ff6501;
  height: 7px;
  position: relative;
  bottom: -25px;
  width: 180px;
  left: -30px;
}

.slider .arrow {
  cursor: pointer;
  color: white;
  padding: 12px 20px;
  font-size: 30px;
  border: 0.5px solid #016450;
  border-radius: 100%;
  background-color: #016450;
  transition: all 300ms ease;
}
.slider .arrow:hover {
  color: #016450;
  background-color: white;
}
.slider .fa-angle-right {
  position: relative;
  left: 50px;
}

.slider .fa-angle-left {
  position: relative;
  left: 50px;
}
