.container {
  max-width: 1200px;
  margin: auto;
  height: 650px;
  margin-top: 30px;
}

.container .back-img {
  background-image: url(/assets/images/building.jpg.jpg);
  background-size: cover;
  border-radius: 20px;
  height: 500px;
}

.container .back-img .text {
  position: relative;
  top: 120px;
  left: 70px;
  color: black;
  margin: 10px 0px;
}

.container .back-img h1 {
  font-size: 40px;
}

.container .back-img p {
  opacity: 0.7;
}

.container .above {
  position: relative;
  top: 240px;
  color: black;
  left: 70px;
}

.container .above .btn-above {
  background-color: #f4f5f7;
  padding: 22px 30px;
  cursor: pointer;
}
.container .above .btn-above:hover {
  background-color: #ff6501;
  color: white;
}

.container .above .right {
  border-top-right-radius: 15px;
}

.container .above .left {
  border-top-left-radius: 15px;
}

/* .container .above .btn-above .far {
  visibility: hidden;
}

.container .above .btn-above .far:hover {
  visibility: visible;
} */

.below {
  height: 100px;
  background-color: white;
  position: relative;
  top: 262px;
  display: flex;
  border-radius: 4px;
  left: 70px;
  width: 650px;
  max-width: 900px;
  color: black;
  box-shadow: 0px 48px 88px -40px black;
}

.container .below .btn-above {
  background-color: white;
  margin: 22px 10px;
  cursor: pointer;
  width: 150px;
  align-self: center;
}

.container .below .first-child {
  margin-left: 50px;
}

.container .below p {
  margin-top: 10px;
  font-size: 15px;
  opacity: 0.5;
}

.container .below .fa-search {
  align-self: center;
  color: white;
  font-size: 30px;
  padding: 20px;
  cursor: pointer;
  border-radius: 15px;
  background-color: #016450;
}

.container .below .fa-chevron-down {
  font-size: 10px;
  opacity: 0.6;
  margin-left: 7px;
}
