.services {
  position: relative;
  top: 120px;
  height: 230px;
  max-width: 1200px;
  margin: auto;
  text-align: center;
  margin-top: 50px;
}

.services p {
  opacity: 0.7;
  margin-bottom: 7px;
}

.services h2 {
  font-size: 30px;
}

.house-deal {
  max-width: 1200px;
  margin: auto;
  background-color: aqua;
  height: 500px;
  display: flex;
}

.house-deal .deals {
  background-color: blue;
  height: 200px;
}
