.services {
  background-color: aqua;
  position: relative;
  top: 120px;
  height: 1000px;
  max-width: 1200px;
  margin: auto;
  text-align: center;
  margin-top: 50px;
}

.services p {
  opacity: 0.7;
  margin-bottom: 7px;
}

.services h2 {
  font-size: 30px;
}
