*
     margin: 0px
     padding: 0px
     box-sizing: border-box

body
    background-color: black
    display: flex
    justify-content: center
    align-items: center
    min-height: 100vh

.menu-btn
    position: relative
    display: flex
    justify-content: center
    align-items: center
    width: 80px
    height: 80px
    cursor: pointer
    transition: all 500ms ease-in-out
    border: 3px solid white
    .menu-btn-burger
        width: 50px
        height: 6px
        background-color: white
        border-radius: 5px
        transition: all 500ms ease-in-out
        box-shadow: 0px 2px 5px rgba(255, 101, 47, 0.2) // THE ABOVE MEHTOD WHICH IS IN (.MENU-BTN-BURGER) WILL JUST ADD CENTER LINE OF OURS HAM-BURGER BECUASE WHEN WE USES THE ANIMATION IT'LL JUST VANISHED AND THE ABOVE AND BELOW LINE LINES WILL ROTATE TO MAKE AN (X) BY ROTATION 45 DEG AND -45 DEG
        &::before, &::after
            content: ''
            position: absolute
            width: 50px
            height: 6px
            background-color: white
            border-radius: 15px
            box-shadow: 0px 2px 5px rgba(255, 101, 47, 0.2)
            transition: all 500ms ease-in-out
        &::before
            transform: translateY(-16px) // IT'LL TRANSFORM IT -16PX IN Y-AXIS
        &::after
            transform: translateY(16px) // IT'LL TRANSFORM IT 16PX IN Y-AXIS
    &.open
        .menu-btn-burger
            transform: translateX(-50px)
            background: transparent // IT'LL TRANSPARENT THE MIDDLE BAR WHEN IT TRIGGERS OR TOGGLE
            box-shadow: none
            &::before
                transform: rotate(45deg) translate(35px, -35px)
            &::after
                transform: rotate(-45deg) translate(35px, 35px)