*
     margin: 0px
     padding: 0px
     box-sizing: border-box

body
    background-color: black
    display: flex
    justify-content: center
    align-items: center
    min-height: 100vh

.menu-btn
    position: relative
    display: flex
    justify-content: center
    align-items: center
    width: 80px
    height: 80px
    cursor: pointer
    transition: all 500ms ease-in-out
    border: 3px solid white
    .menu-btn-burger
        width: 50px
        height: 6px
        background-color: white
        border-radius: 5px
        box-shadow: 0px 2px 5px rgba(255, 101, 47, 0.2)