*
    margin: 0px
    padding: 0px
    box-sizing: border-box
    font-family: sans-serif

header
    background-color: black
    display: flex
    align-items: center
    flex-direction: row
    width: 1200px
    padding: 20px
    margin: auto
    ul
        width: 50%
        display: flex
        list-style: none
        justify-content: space-between
        a
            text-decoration: none
            color: white
            cursor: pointer
            padding: 10px 20px
            transition: all 600ms ease
        a:hover
            background-color: white
            color: black
    .search
        width: 50%
        text-align: right
       
.ham-burger-menu
    position: absolute
    top: 20px
    right: 5%
    cursor: pointer
    .line
        color: white