doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        title Animation On Scroll
    body 
        section 
            h1 Elements On Scroll 
        section 
            .container 
                h2 Yours Tittle
                .cards 
                    .text-card
                        h3 Tittle
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam similique ipsa vero tempore minima expedita maxime totam maiores aperiam accusamus eaque odio, commodi earum distinctio quod perspiciatis molestiae. Corporis labore odio necessitatibus iure adipisci blanditiis perferendis, sit, fugit eaque nihil similique neque at dignissimos placeat facere praesentium nisi pariatur voluptatem. 
                    .text-card
                        h3 Tittle
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam similique ipsa vero tempore minima expedita maxime totam maiores aperiam accusamus eaque odio, commodi earum distinctio quod perspiciatis molestiae. Corporis labore odio necessitatibus iure adipisci blanditiis perferendis, sit, fugit eaque nihil similique neque at dignissimos placeat facere praesentium nisi pariatur voluptatem.
                    .text-card
                        h3 Tittle
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam similique ipsa vero tempore minima expedita maxime totam maiores aperiam accusamus eaque odio, commodi earum distinctio quod perspiciatis molestiae. Corporis labore odio necessitatibus iure adipisci blanditiis perferendis, sit, fugit eaque nihil similique neque at dignissimos placeat facere praesentium nisi pariatur voluptatem.