*
    margin: 0px
    padding: 0px
    box-sizing: border-box

.container
    background-image: url(/images/light-bg.jpg)
    height: 100vh
    background-repeat: no-repeat
    background-size: 100% 100%