*
    margin: 0px
    padding: 0px
    box-sizing: border-box
    font-family: sans-serif
#home
    min-height: 100%
    background: url(/images/light-bg.jpg) no-repeat
    background-size: cover
    // height: 100vh
    background-position: center top // MEANS CENTER FROM X-AXIS AND TOP FROM Y-AXIS
    background-attachment: fixed
    .layer
        position: absolute
        top: 0px // MEANS RIGHT IN THE CENTER THEREORE WE USE TOP,RIGHT,LEFTM,BOTTOM AS ZERO PX
        left: 0px
        right: 0px
        bottom: 0px
        height: 100%
        width: 100%
        &.blub
            background-size: cover
            
    .header-bg
        background: rgba(0, 0, 0, 0.4)
        z-index: 1
.nav-bar
    height: 100vh
    background-color: black
    box-shadow: 0px 0px 21px -5px white
    width: 350px
    position: fixed
    right: -350px
    top: 0px
    padding: 150px 70px
    transition: all 800ms cubic-bezier(1, 0, 0, 1)
    &.change
        right: 0px
    ul
        text-align: right
        .nav-item
            list-style: none
            padding: 25px
            a
                text-decoration: none
                color: white
                font-weight: 300
                text-transform: uppercase
                letter-spacing: 3px
                padding: 3px 0px
                position: relative
                font-size: 19px
                &::before, &::after
                    content: ''
                    position: absolute
                    height: 2px
                    left: 0px
                    width: 100%
                    background-color: chocolate
                    transform: scaleX(0) 
                    transition: transform 800ms
                &::after
                    bottom: 0px
                    transform-origin: left
                &::before
                    top: 0px
                    transform-origin: right
            a:hover::before,
            a:hover::after
                transform: scaleX(1)
    .hamburger
        position: fixed
        top: 50px
        right: 50px 
        height: 40px
        width: 45px
        cursor: pointer
        display: flex
        flex-direction: column
        justify-content: space-around
        .line
            height: 3px
            width: 100%
            background-color: chocolate
            transition: all 800ms
    &.change .line-1
        transform: rotateZ(-405deg) translate(-13px, 6px)
    &.change .line-2
        opacity: 0
    &.change .line-3
        transform: rotateZ(405deg) translate(-12px, -6px)
